:host {
	--display: inline-block;
	--background-color: transparent;
}

.heading {
	font-family: var(--font-heading);
	font-weight: normal;
	color: var(--brand-color);
}
.heading--page {
	font-size: 4rem;
	text-align: center;
	display: block;
}
