@layer theme {
	@font-face {
		font-family: 'Figtree';
		src: url('../fonts/Figtree-VariableFont_wght.woff2')
			format('woff2-variations');
		font-style: normal;
	}
	@font-face {
		font-family: 'Figtree';
		src: url('../fonts/Figtree-Italic-VariableFont_wght.woff2')
			format('woff2-variations');
		font-style: italic;
	}
}
