@layer theme {
	@font-face {
		font-family: 'Figtree';
		src:
			url('../fonts/vendors/erikdkennedy/Figtree-VariableFont_wght.woff2')
				format('woff2 supports variations'),
			url('../fonts/vendors/erikdkennedy/Figtree-VariableFont_wght.woff2')
				format('woff2-variations');
		font-weight: 300 900;
		font-style: normal;
	}
	@font-face {
		font-family: 'Figtree';
		src:
			url('../fonts/vendors/erikdkennedy/Figtree-Italic-VariableFont_wght.woff2')
				format('woff2 supports variations'),
			url('../fonts/vendors/erikdkennedy/Figtree-Italic-VariableFont_wght.woff2')
				format('woff2-variations');
		font-weight: 300 900;
		font-style: italic;
	}

}
