@layer theme {
	header {
		container: header / inline-size;
	}

	trvt-header {
		--header-size: 8em;
	}

	trvt-header::part(heading) {
		display: inline-block;
		font-size: 7rem;
		font-weight: 800;
		line-height: 1;
		letter-spacing: -0.05ch;
		background: url('../images/scratched-optimized.svg') no-repeat 50% 50%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200%;
		width: 5ch;
	}
	@container header (max-width: 375px) {
		trvt-header::part(heading) {
			font-size: 6em;
		}
	}
	@container header (min-width: 640px) {
		trvt-header {
			--header-size: 20em;
		}
		trvt-header::part(heading) {
			font-size: 12em;
			line-height: 1.5;
			width: 5ch;
		}
	}
	@media (prefers-color-scheme: light) {
		trvt-header::part(heading) {
			filter: opacity(80%);
		}
	}
	@media (prefers-color-scheme: dark) {
		trvt-header::part(heading) {
			filter: opacity(80%) invert(100%);
		}
	}
}
