@import url('font-faces.css');
@import url('header.css');
@import url('modes.css');

@layer theme {
	trvt-layout {
		--trvt-row-gap: 0;
		max-width: 65ch;
		margin-inline: auto;
		visibility: visible;
	}
	html {
		--trvt-typography-family-base: 'Mona Sans', sans-serif;
		--trvt-typography-family-display: 'Hubot Sans', sans-serif;
		--trvt-typography-family-gui: 'Hubot Sans', sans-serif;

		/* 125% => 20px. 150% => 24px */
		font-size: 125%;
	}
	body {
		padding-inline: 2ch;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		background: var(--trvt-color-background-canvas);
	}

	@supports not (font-size: xxx-large) {
		:root {
			--trvt-typography-size-xxxl: -webkit-xxx-large;
		}
	}
	@supports not (font-size: -webkit-xxx-large) {
		:root {
			--trvt-typography-size-xxxl: 2rem;
		}
	}
	h1 {
		font-size: var(--trvt-typography-size-xxxl);
		font-weight: var(--trvt-typography-weight-heavy);
		letter-spacing: -0.02ch;
		font-stretch: 85%;
	}

	h2 {
		font-weight: var(--trvt-typography-weight-extrabold);
		font-stretch: 85%;
	}

	h3 {
		font-weight: var(--trvt-typography-weight-extrabold);
		font-stretch: 85%;
	}
}
