:root {
  --trvt-color-lib-white: #ffffff;
  --trvt-color-lib-black: #000000;
  --trvt-color-lib-gray: oklch(0.4333 0.0035 128.55);
  --trvt-color-lib-red: oklch(0.5928 0.2106 26.532);
  --trvt-color-lib-pink: oklch(0.7496 0.1475 358.8);
  --trvt-color-lib-grape: oklch(0.5783 0.2186 319.15);
  --trvt-color-lib-violet: oklch(0.512 0.2177 287.54);
  --trvt-color-lib-indigo: oklch(0.3927 0.149 269.56);
  --trvt-color-lib-blue: oklch(0.5856 0.1591 251.26);
  --trvt-color-lib-cyan: oklch(0.77 0.1186 207.56);
  --trvt-color-lib-teal: oklch(0.7441 0.148 166.36);
  --trvt-color-lib-green: oklch(0.5604 0.1427 146.89);
  --trvt-color-lib-lime: oklch(0.7099 0.1897 131.53);
  --trvt-color-lib-yellow: oklch(0.8471 0.1693 87.124);
  --trvt-color-lib-orange: oklch(0.6851 0.1954 44.574);
  --trvt-color-lib-gray-0: oklch(0.9839 0.0025 228.78);
  --trvt-color-lib-gray-1: oklch(0.9662 0.0034 247.86);
  --trvt-color-lib-gray-2: oklch(0.9451 0.0034 247.86);
  --trvt-color-lib-gray-3: oklch(0.9161 0.0045 214.33);
  --trvt-color-lib-gray-4: oklch(0.8728 0.0061 223.46);
  --trvt-color-lib-gray-5: oklch(0.7732 0.0071 233.67);
  --trvt-color-lib-gray-6: oklch(0.6868 0.0055 228.86);
  --trvt-color-lib-gray-7: oklch(0.6032 0.0048 197.03);
  --trvt-color-lib-gray-8: oklch(0.5178 0.004 174.36);
  --trvt-color-lib-gray-9: oklch(0.4333 0.0035 128.55);
  --trvt-color-lib-red-0: oklch(0.9779 0.0107 17.34);
  --trvt-color-lib-red-1: oklch(0.9387 0.0309 17.715);
  --trvt-color-lib-red-2: oklch(0.8834 0.0616 18.387);
  --trvt-color-lib-red-3: oklch(0.8169 0.1032 19.531);
  --trvt-color-lib-red-4: oklch(0.7563 0.146 21.105);
  --trvt-color-lib-red-5: oklch(0.7116 0.1812 22.839);
  --trvt-color-lib-red-6: oklch(0.6706 0.2045 24.52);
  --trvt-color-lib-red-7: oklch(0.6324 0.2144 25.841);
  --trvt-color-lib-red-8: oklch(0.5928 0.2106 26.532);
  --trvt-color-lib-red-9: oklch(0.5457 0.1949 26.614);
  --trvt-color-lib-pink-0: oklch(0.9686 0.0179 351.14);
  --trvt-color-lib-pink-1: oklch(0.9315 0.04 352.16);
  --trvt-color-lib-pink-2: oklch(0.8718 0.0712 355.09);
  --trvt-color-lib-pink-3: oklch(0.808 0.1104 357.15);
  --trvt-color-lib-pink-4: oklch(0.7496 0.1475 358.8);
  --trvt-color-lib-pink-5: oklch(0.6924 0.1765 1.2501);
  --trvt-color-lib-pink-6: oklch(0.6396 0.1968 3.1869);
  --trvt-color-lib-pink-7: oklch(0.5881 0.201 5.2476);
  --trvt-color-lib-pink-8: oklch(0.5389 0.1929 6.483);
  --trvt-color-lib-pink-9: oklch(0.4797 0.1718 6.8306);
  --trvt-color-lib-grape-0: oklch(0.9648 0.018 314.74);
  --trvt-color-lib-grape-1: oklch(0.9165 0.0521 319.03);
  --trvt-color-lib-grape-2: oklch(0.863 0.0961 319.46);
  --trvt-color-lib-grape-3: oklch(0.7904 0.1516 319.77);
  --trvt-color-lib-grape-4: oklch(0.7252 0.1963 319.53);
  --trvt-color-lib-grape-5: oklch(0.6695 0.2189 319.07);
  --trvt-color-lib-grape-6: oklch(0.6239 0.2251 318.91);
  --trvt-color-lib-grape-7: oklch(0.5783 0.2186 319.15);
  --trvt-color-lib-grape-8: oklch(0.5333 0.2031 319);
  --trvt-color-lib-grape-9: oklch(0.4783 0.181 318.86);
  --trvt-color-lib-violet-0: oklch(0.9618 0.0202 295.19);
  --trvt-color-lib-violet-1: oklch(0.9105 0.0497 298.11);
  --trvt-color-lib-violet-2: oklch(0.8405 0.0899 296.6);
  --trvt-color-lib-violet-3: oklch(0.7398 0.1444 294.45);
  --trvt-color-lib-violet-4: oklch(0.6577 0.1905 292.12);
  --trvt-color-lib-violet-5: oklch(0.6029 0.2175 289.69);
  --trvt-color-lib-violet-6: oklch(0.5692 0.2289 288.56);
  --trvt-color-lib-violet-7: oklch(0.5421 0.2268 287.8);
  --trvt-color-lib-violet-8: oklch(0.512 0.2177 287.54);
  --trvt-color-lib-violet-9: oklch(0.4812 0.1979 288.16);
  --trvt-color-lib-indigo-0: oklch(0.9612 0.0182 269.09);
  --trvt-color-lib-indigo-1: oklch(0.9204 0.0381 270.98);
  --trvt-color-lib-indigo-2: oklch(0.8411 0.0787 273.5);
  --trvt-color-lib-indigo-3: oklch(0.7473 0.1296 272.27);
  --trvt-color-lib-indigo-4: oklch(0.6799 0.1633 271.04);
  --trvt-color-lib-indigo-5: oklch(0.628 0.1907 269.5);
  --trvt-color-lib-indigo-6: oklch(0.5896 0.2054 268.62);
  --trvt-color-lib-indigo-7: oklch(0.5566 0.2082 268.35);
  --trvt-color-lib-indigo-8: oklch(0.5256 0.1988 268.04);
  --trvt-color-lib-indigo-9: oklch(0.4841 0.1883 269.07);
  --trvt-color-lib-blue-0: oklch(0.9627 0.02 238.66);
  --trvt-color-lib-blue-1: oklch(0.9266 0.0395 240.01);
  --trvt-color-lib-blue-2: oklch(0.8602 0.0759 241.66);
  --trvt-color-lib-blue-3: oklch(0.782 0.1147 243.83);
  --trvt-color-lib-blue-4: oklch(0.718 0.1422 246.06);
  --trvt-color-lib-blue-5: oklch(0.6689 0.1575 248.32);
  --trvt-color-lib-blue-6: oklch(0.6259 0.1641 250.29);
  --trvt-color-lib-blue-7: oklch(0.5856 0.1591 251.26);
  --trvt-color-lib-blue-8: oklch(0.5426 0.1485 251.67);
  --trvt-color-lib-blue-9: oklch(0.4972 0.1334 251.59);
  --trvt-color-lib-cyan-0: oklch(0.9689 0.0242 203.08);
  --trvt-color-lib-cyan-1: oklch(0.9405 0.0502 202.5);
  --trvt-color-lib-cyan-2: oklch(0.8856 0.0791 204.84);
  --trvt-color-lib-cyan-3: oklch(0.8243 0.1058 206.82);
  --trvt-color-lib-cyan-4: oklch(0.77 0.1186 207.56);
  --trvt-color-lib-cyan-5: oklch(0.72 0.1193 211.22);
  --trvt-color-lib-cyan-6: oklch(0.6777 0.1144 210.62);
  --trvt-color-lib-cyan-7: oklch(0.6249 0.1065 212.19);
  --trvt-color-lib-cyan-8: oklch(0.5675 0.0973 213.4);
  --trvt-color-lib-cyan-9: oklch(0.509 0.0875 215.07);
  --trvt-color-lib-teal-0: oklch(0.9731 0.0248 174.76);
  --trvt-color-lib-teal-1: oklch(0.9425 0.0608 172.92);
  --trvt-color-lib-teal-2: oklch(0.8959 0.0964 173.35);
  --trvt-color-lib-teal-3: oklch(0.8408 0.1298 170.11);
  --trvt-color-lib-teal-4: oklch(0.7926 0.1472 167.92);
  --trvt-color-lib-teal-5: oklch(0.7441 0.148 166.36);
  --trvt-color-lib-teal-6: oklch(0.6946 0.1435 164.88);
  --trvt-color-lib-teal-7: oklch(0.6432 0.1338 164.7);
  --trvt-color-lib-teal-8: oklch(0.5851 0.1227 164.1);
  --trvt-color-lib-teal-9: oklch(0.5292 0.1098 164.67);
  --trvt-color-lib-green-0: oklch(0.9727 0.024 151.19);
  --trvt-color-lib-green-1: oklch(0.9463 0.0591 148.83);
  --trvt-color-lib-green-2: oklch(0.9038 0.0987 148.43);
  --trvt-color-lib-green-3: oklch(0.8562 0.141 147.8);
  --trvt-color-lib-green-4: oklch(0.802 0.1684 147.32);
  --trvt-color-lib-green-5: oklch(0.7602 0.1832 146.61);
  --trvt-color-lib-green-6: oklch(0.7146 0.1835 146.44);
  --trvt-color-lib-green-7: oklch(0.6741 0.1775 146.24);
  --trvt-color-lib-green-8: oklch(0.6172 0.1624 146.43);
  --trvt-color-lib-green-9: oklch(0.5604 0.1427 146.89);
  --trvt-color-lib-lime-0: oklch(0.9785 0.0338 121.48);
  --trvt-color-lib-lime-1: oklch(0.96 0.0675 122.93);
  --trvt-color-lib-lime-2: oklch(0.9299 0.1108 124.18);
  --trvt-color-lib-lime-3: oklch(0.8848 0.1535 125.92);
  --trvt-color-lib-lime-4: oklch(0.8474 0.1881 127.98);
  --trvt-color-lib-lime-5: oklch(0.8071 0.2021 129.8);
  --trvt-color-lib-lime-6: oklch(0.76 0.1996 131.08);
  --trvt-color-lib-lime-7: oklch(0.7099 0.1897 131.53);
  --trvt-color-lib-lime-8: oklch(0.6616 0.1803 132.25);
  --trvt-color-lib-lime-9: oklch(0.6043 0.1625 131.55);
  --trvt-color-lib-yellow-0: oklch(0.979 0.0396 97.757);
  --trvt-color-lib-yellow-1: oklch(0.961 0.0679 96.59);
  --trvt-color-lib-yellow-2: oklch(0.9402 0.1049 96.835);
  --trvt-color-lib-yellow-3: oklch(0.9097 0.144 95.112);
  --trvt-color-lib-yellow-4: oklch(0.8826 0.1648 92.222);
  --trvt-color-lib-yellow-5: oklch(0.8471 0.1693 87.124);
  --trvt-color-lib-yellow-6: oklch(0.8069 0.1674 78.121);
  --trvt-color-lib-yellow-7: oklch(0.7702 0.1658 71.022);
  --trvt-color-lib-yellow-8: oklch(0.7311 0.1673 62.62);
  --trvt-color-lib-yellow-9: oklch(0.6835 0.1693 54.965);
  --trvt-color-lib-orange-0: oklch(0.972 0.022 74.101);
  --trvt-color-lib-orange-1: oklch(0.9424 0.0446 72.675);
  --trvt-color-lib-orange-2: oklch(0.9039 0.0758 72.415);
  --trvt-color-lib-orange-3: oklch(0.8503 0.1149 68.951);
  --trvt-color-lib-orange-4: oklch(0.8034 0.1461 64.595);
  --trvt-color-lib-orange-5: oklch(0.7616 0.1686 57.801);
  --trvt-color-lib-orange-6: oklch(0.7265 0.1832 51.48);
  --trvt-color-lib-orange-7: oklch(0.6851 0.1954 44.574);
  --trvt-color-lib-orange-8: oklch(0.6442 0.1916 41.687);
  --trvt-color-lib-orange-9: oklch(0.5999 0.1905 37.88);
  --trvt-color-lib-gray-10: oklch(0.3474 0.0051 106.66);
  --trvt-color-lib-gray-11: oklch(0.263 0.0073 106.89);
  --trvt-color-lib-gray-12: oklch(0.1814 0.004 106.79);
  --trvt-color-lib-red-10: oklch(0.4957 0.1753 26.458);
  --trvt-color-lib-red-11: oklch(0.4425 0.154 26.219);
  --trvt-color-lib-red-12: oklch(0.3887 0.134 26.072);
  --trvt-color-lib-pink-10: oklch(0.4248 0.1507 6.3843);
  --trvt-color-lib-pink-11: oklch(0.3711 0.129 5.5816);
  --trvt-color-lib-pink-12: oklch(0.3124 0.106 4.6244);
  --trvt-color-lib-purple-0: oklch(0.9648 0.018 314.74);
  --trvt-color-lib-purple-1: oklch(0.9165 0.0521 319.03);
  --trvt-color-lib-purple-2: oklch(0.863 0.0961 319.46);
  --trvt-color-lib-purple-3: oklch(0.7904 0.1516 319.77);
  --trvt-color-lib-purple-4: oklch(0.7252 0.1963 319.53);
  --trvt-color-lib-purple-5: oklch(0.6695 0.2189 319.07);
  --trvt-color-lib-purple-6: oklch(0.6239 0.2251 318.91);
  --trvt-color-lib-purple-7: oklch(0.5783 0.2186 319.15);
  --trvt-color-lib-purple-8: oklch(0.5333 0.2031 319);
  --trvt-color-lib-purple-9: oklch(0.4783 0.181 318.86);
  --trvt-color-lib-purple-10: oklch(0.421 0.1572 319.11);
  --trvt-color-lib-purple-11: oklch(0.3625 0.1335 318.93);
  --trvt-color-lib-purple-12: oklch(0.3021 0.106 319.2);
  --trvt-color-lib-violet-10: oklch(0.4361 0.1777 287.97);
  --trvt-color-lib-violet-11: oklch(0.39 0.1556 288.51);
  --trvt-color-lib-violet-12: oklch(0.3434 0.1339 288.98);
  --trvt-color-lib-indigo-10: oklch(0.4376 0.1689 269.4);
  --trvt-color-lib-indigo-11: oklch(0.3927 0.149 269.56);
  --trvt-color-lib-indigo-12: oklch(0.3455 0.1269 269.77);
  --trvt-color-lib-blue-10: oklch(0.4432 0.1167 251.19);
  --trvt-color-lib-blue-11: oklch(0.3885 0.1005 251.3);
  --trvt-color-lib-blue-12: oklch(0.3309 0.0824 250.66);
  --trvt-color-lib-cyan-10: oklch(0.4377 0.0743 214.34);
  --trvt-color-lib-cyan-11: oklch(0.3638 0.0611 214.76);
  --trvt-color-lib-cyan-12: oklch(0.2854 0.0465 213.38);
  --trvt-color-lib-teal-10: oklch(0.453 0.0932 165.07);
  --trvt-color-lib-teal-11: oklch(0.3736 0.0755 165.63);
  --trvt-color-lib-teal-12: oklch(0.2863 0.0556 167.96);
  --trvt-color-lib-green-10: oklch(0.483 0.1212 146.9);
  --trvt-color-lib-green-11: oklch(0.4055 0.099 147.2);
  --trvt-color-lib-green-12: oklch(0.3209 0.075 147.29);
  --trvt-color-lib-lime-10: oklch(0.5261 0.14 131.31);
  --trvt-color-lib-lime-11: oklch(0.4476 0.1177 131.23);
  --trvt-color-lib-lime-12: oklch(0.3626 0.0935 130.65);
  --trvt-color-lib-yellow-10: oklch(0.5679 0.1399 55.455);
  --trvt-color-lib-yellow-11: oklch(0.4479 0.1082 57.163);
  --trvt-color-lib-yellow-12: oklch(0.3841 0.0911 58.927);
  --trvt-color-lib-orange-10: oklch(0.5472 0.1716 38.292);
  --trvt-color-lib-orange-11: oklch(0.4664 0.144 38.431);
  --trvt-color-lib-orange-12: oklch(0.412 0.1246 38.964);
  --trvt-color-lib-choco-0: oklch(0.9773 0.0373 95.439);
  --trvt-color-lib-choco-1: oklch(0.9227 0.0568 75.628);
  --trvt-color-lib-choco-2: oklch(0.8677 0.077 65.882);
  --trvt-color-lib-choco-3: oklch(0.811 0.0984 59.234);
  --trvt-color-lib-choco-4: oklch(0.7555 0.1187 55.965);
  --trvt-color-lib-choco-5: oklch(0.7012 0.1357 53.792);
  --trvt-color-lib-choco-6: oklch(0.6455 0.1516 51.174);
  --trvt-color-lib-choco-7: oklch(0.5883 0.1422 50.732);
  --trvt-color-lib-choco-8: oklch(0.5287 0.1281 50.11);
  --trvt-color-lib-choco-9: oklch(0.4693 0.1111 51.224);
  --trvt-color-lib-choco-10: oklch(0.4102 0.0913 52.346);
  --trvt-color-lib-choco-11: oklch(0.3507 0.0715 53.66);
  --trvt-color-lib-choco-12: oklch(0.2805 0.0533 54.072);
  --trvt-color-lib-brown-0: oklch(0.9693 0.0136 78.264);
  --trvt-color-lib-brown-1: oklch(0.913 0.0247 71.456);
  --trvt-color-lib-brown-2: oklch(0.8522 0.0358 63.156);
  --trvt-color-lib-brown-3: oklch(0.797 0.047 63.843);
  --trvt-color-lib-brown-4: oklch(0.7364 0.0577 61.382);
  --trvt-color-lib-brown-5: oklch(0.6794 0.0677 61.671);
  --trvt-color-lib-brown-6: oklch(0.6209 0.0761 61.54);
  --trvt-color-lib-brown-7: oklch(0.5625 0.0739 61.067);
  --trvt-color-lib-brown-8: oklch(0.5049 0.0699 60.487);
  --trvt-color-lib-brown-9: oklch(0.4458 0.0658 59.75);
  --trvt-color-lib-brown-10: oklch(0.3855 0.0636 54.415);
  --trvt-color-lib-brown-11: oklch(0.3292 0.062 51.226);
  --trvt-color-lib-brown-12: oklch(0.2956 0.0541 50.37);
  --trvt-color-lib-sand-0: oklch(0.9839 0.0025 228.78);
  --trvt-color-lib-sand-1: oklch(0.9182 0.0109 95.172);
  --trvt-color-lib-sand-2: oklch(0.8544 0.0253 91.64);
  --trvt-color-lib-sand-3: oklch(0.7865 0.0358 90.547);
  --trvt-color-lib-sand-4: oklch(0.7228 0.0364 90.564);
  --trvt-color-lib-sand-5: oklch(0.6576 0.0371 90.58);
  --trvt-color-lib-sand-6: oklch(0.5889 0.0357 87.292);
  --trvt-color-lib-sand-7: oklch(0.5262 0.0361 89.189);
  --trvt-color-lib-sand-8: oklch(0.4594 0.0284 85.754);
  --trvt-color-lib-sand-9: oklch(0.3951 0.0221 89.486);
  --trvt-color-lib-sand-10: oklch(0.3294 0.0143 89.881);
  --trvt-color-lib-sand-11: oklch(0.263 0.0073 106.89);
  --trvt-color-lib-sand-12: oklch(0.1814 0.004 106.79);
  --trvt-color-lib-camo-0: oklch(0.9812 0.0263 111.51);
  --trvt-color-lib-camo-1: oklch(0.9239 0.1026 111.24);
  --trvt-color-lib-camo-2: oklch(0.8674 0.1653 114.24);
  --trvt-color-lib-camo-3: oklch(0.8159 0.1678 114.07);
  --trvt-color-lib-camo-4: oklch(0.7631 0.1549 112.05);
  --trvt-color-lib-camo-5: oklch(0.7085 0.1427 110.01);
  --trvt-color-lib-camo-6: oklch(0.6553 0.1309 107.99);
  --trvt-color-lib-camo-7: oklch(0.6044 0.1193 105.44);
  --trvt-color-lib-camo-8: oklch(0.5515 0.1083 102.9);
  --trvt-color-lib-camo-9: oklch(0.4969 0.0962 102.59);
  --trvt-color-lib-camo-10: oklch(0.4417 0.0841 101.29);
  --trvt-color-lib-camo-11: oklch(0.3898 0.0734 101.94);
  --trvt-color-lib-camo-12: oklch(0.307 0.0549 100.15);
  --trvt-color-lib-jungle-0: oklch(0.9656 0.101 118.9);
  --trvt-color-lib-jungle-1: oklch(0.9286 0.1149 119.51);
  --trvt-color-lib-jungle-2: oklch(0.8915 0.1283 120.12);
  --trvt-color-lib-jungle-3: oklch(0.8543 0.1409 120.76);
  --trvt-color-lib-jungle-4: oklch(0.816 0.1478 120.94);
  --trvt-color-lib-jungle-5: oklch(0.7798 0.1547 121.51);
  --trvt-color-lib-jungle-6: oklch(0.7435 0.1593 122.22);
  --trvt-color-lib-jungle-7: oklch(0.708 0.1615 122.7);
  --trvt-color-lib-jungle-8: oklch(0.673 0.1604 123.03);
  --trvt-color-lib-jungle-9: oklch(0.6363 0.154 122.96);
  --trvt-color-lib-jungle-10: oklch(0.5584 0.1354 123.25);
  --trvt-color-lib-jungle-11: oklch(0.4759 0.1142 122.73);
  --trvt-color-lib-jungle-12: oklch(0.3924 0.0931 122.48);
}
