:root {
  --trvt-color-background-canvas: Canvas;
  --trvt-color-background-viewport: Canvas;
  --trvt-color-background-content: Canvas;
  --trvt-color-background-surface: Canvas; /* A surface is usually reserved for components. It's here for convinence. */
  --trvt-color-background-header: CanvasText;
  --trvt-color-background-icon: Canvas;
  --trvt-color-background-highlight: Highlight;
  --trvt-color-background-accentcolor: AccentColor;
  --trvt-color-background-button: ButtonFace; /* ButtonFace is the standard value but it's very dark. */
  --trvt-color-background-field: Field;
  --trvt-color-background-selected: SelectedItem;
  --trvt-color-background-mark: Mark;
  --trvt-color-base-light: #efefef;
  --trvt-color-base-dark: #999;
  --trvt-color-base-mid: #ccc;
  --trvt-color-base-bright: #ffff00;
  --trvt-color-base-shadow: #ddd;
  --trvt-color-base-icon: CanvasText;
  --trvt-color-base-canvas: Canvas;
  --trvt-color-base-canvastext: CanvasText;
  --trvt-color-base-linktext: LinkText;
  --trvt-color-base-visitedtext: VisitedText;
  --trvt-color-base-hovertext: LinkText;
  --trvt-color-base-activetext: ActiveText;
  --trvt-color-base-highlight: Highlight;
  --trvt-color-base-highlighttext: HighlightText;
  --trvt-color-base-accentcolor: AccentColor;
  --trvt-color-base-accentcolortext: AccentColorText;
  --trvt-color-base-button: ButtonFace;
  --trvt-color-base-buttontext: ButtonText;
  --trvt-color-base-field: Field;
  --trvt-color-base-fieldtext: FieldText;
  --trvt-color-base-selected: SelectedItem;
  --trvt-color-base-selectedtext: SelectedItemText;
  --trvt-color-base-mark: Mark;
  --trvt-color-base-marktext: MarkText;
  --trvt-color-base-disabled: GrayText;
  --trvt-color-brand-brand: oklch(0.5999 0.1905 37.88);
  --trvt-color-brand-logo: oklch(0.5999 0.1905 37.88);
  --trvt-color-brand-primary: oklch(0.5999 0.1905 37.88);
  --trvt-color-brand-primary-inverted: oklch(0.7473 0.1296 272.27);
  --trvt-color-brand-secondary: CanvasText;
  --trvt-color-brand-secondary-inverted: Canvas;
  --trvt-color-brand-tertiary: CanvasText;
  --trvt-color-brand-tertiary-inverted: Canvas;
  --trvt-color-editorial-note: oklch(0.8471 0.1693 87.124);
  --trvt-color-editorial-info: oklch(0.5783 0.2186 319.15);
  --trvt-color-editorial-quote: oklch(0.5783 0.2186 319.15);
  --trvt-color-presentational-cta: oklch(0.3927 0.149 269.56);
  --trvt-color-presentational-new: oklch(0.7099 0.1897 131.53);
  --trvt-color-presentational-attention: oklch(0.7441 0.148 166.36);
  --trvt-color-presentational-hightlight: oklch(0.7441 0.148 166.36);
  --trvt-color-actionable-abort: oklch(0.5928 0.2106 26.532);
  --trvt-color-actionable-release: oklch(0.512 0.2177 287.54);
  --trvt-color-actionable-pause: oklch(0.6851 0.1954 44.574);
  --trvt-color-actionable-approve: oklch(0.5604 0.1427 146.89);
  --trvt-color-actionable-submit: oklch(0.5856 0.1591 251.26);
  --trvt-color-hierarchical-primary: oklch(0.5856 0.1591 251.26);
  --trvt-color-hierarchical-secondary: oklch(0.6851 0.1954 44.574);
  --trvt-color-hierarchical-tertiary: oklch(0.7441 0.148 166.36);
  --trvt-color-status-warning: oklch(0.6851 0.1954 44.574);
  --trvt-color-status-failure: oklch(0.5928 0.2106 26.532);
  --trvt-color-status-pending: oklch(0.512 0.2177 287.54);
  --trvt-color-status-success: oklch(0.5604 0.1427 146.89);
  --trvt-color-line-ui: CanvasText;
  --trvt-color-line-seperator: CanvasText;
  --trvt-color-line-border: CanvasText;
  --trvt-color-line-outline: Highlight;
  --trvt-color-typography-text: CanvasText;
  --trvt-color-typography-text-inverted: Canvas;
  --trvt-color-typography-heading: CanvasText;
  --trvt-color-typography-icon: CanvasText;
  --trvt-color-typography-ui: ButtonText);
  --trvt-color-typography-anchor: LinkText;
  --trvt-color-typography-anchor-visited: VisitedText;
  --trvt-color-typography-anchor-hover: LinkText;
  --trvt-color-typography-anchor-active: ActiveText;
  --trvt-layout-display-viewport: block;
  --trvt-layout-display-content: block;
  --trvt-layout-display-ui: flex;
  --trvt-layout-display-grid: grid;
  --trvt-layout-ratio-square: 1 / 1;
  --trvt-layout-ratio-wide: 16 / 9;
  --trvt-layout-ratio-standard: 4 / 3;
  --trvt-layout-ratio-golden: 1.6180 / 1;
  --trvt-spacing-content-block-xxs: 0.25ex;
  --trvt-spacing-content-block-xs: 0.5ex;
  --trvt-spacing-content-block-s: 1ex;
  --trvt-spacing-content-block-m: 2ex;
  --trvt-spacing-content-block-l: 4ex;
  --trvt-spacing-content-block-xl: 6ex;
  --trvt-spacing-content-block-xxl: 8ex;
  --trvt-spacing-content-inline-xxs: 0.25ch;
  --trvt-spacing-content-inline-xs: 0.5ch;
  --trvt-spacing-content-inline-s: 1ch;
  --trvt-spacing-content-inline-m: 2ch;
  --trvt-spacing-content-inline-l: 4ch;
  --trvt-spacing-content-inline-xl: 6ch;
  --trvt-spacing-content-inline-xxl: 8ch;
  --trvt-stroke-hairline: 0.5px;
  --trvt-stroke-thin: 1px;
  --trvt-stroke-medium: 2px;
  --trvt-stroke-thick: 3px;
  --trvt-stroke-heavy: 4px;
  --trvt-toggles-boolean-true: initial;
  --trvt-toggles-boolean-false: ;
  --trvt-toggles-boolean-on: initial;
  --trvt-toggles-boolean-off: ;
  --trvt-typography-family-base: sans-serif;
  --trvt-typography-family-display: sans-serif;
  --trvt-typography-family-gui: sans-serif;
  --trvt-typography-family-code: monospace;
  --trvt-typography-leading-l: 1.6125;
  --trvt-typography-leading-m: 1.25;
  --trvt-typography-leading-s: 1;
  --trvt-typography-size-root: 112.5%; /* set root to 18px */
  --trvt-typography-size-xxxl: xxx-large;
  --trvt-typography-size-xxl: xx-large;
  --trvt-typography-size-xl: x-large;
  --trvt-typography-size-l: large;
  --trvt-typography-size-m: medium;
  --trvt-typography-size-s: small;
  --trvt-typography-size-xs: x-small;
  --trvt-typography-size-xxs: xx-small;
  --trvt-typography-weight-thin: 100;
  --trvt-typography-weight-ultralight: 200;
  --trvt-typography-weight-light: 300;
  --trvt-typography-weight-medium: 400;
  --trvt-typography-weight-semibold: 500;
  --trvt-typography-weight-bold: 600;
  --trvt-typography-weight-extrabold: 700;
  --trvt-typography-weight-heavy: 800;
  --trvt-typography-weight-black: 900;
  --trvt-typography-whitespace-heading-block-start: 1.3333em;
  --trvt-typography-whitespace-heading-block-end: 1ex;
  --trvt-typography-whitespace-heading-inline-start: 0;
  --trvt-typography-whitespace-heading-inline-end: 0;
  --trvt-typography-whitespace-heading-row-gap: 1ex;
  --trvt-typography-whitespace-heading-column-gap: 1ch;
  --trvt-typography-whitespace-compact-block-start: 1ex;
  --trvt-typography-whitespace-compact-block-end: 1ex;
  --trvt-typography-whitespace-compact-inline-start: 1ch;
  --trvt-typography-whitespace-compact-inline-end: 1ch;
  --trvt-typography-whitespace-compact-row-gap: 1ex;
  --trvt-typography-whitespace-compact-column-gap: 1ch;
  --trvt-typography-whitespace-default-block-start: 2ex;
  --trvt-typography-whitespace-default-block-end: 2ex;
  --trvt-typography-whitespace-default-inline-start: 2ch;
  --trvt-typography-whitespace-default-inline-end: 2ch;
  --trvt-typography-whitespace-default-row-gap: 2ex;
  --trvt-typography-whitespace-default-column-gap: 2ch;
}

