@layer design.tokens {
	@property --trvt-color-actionable-abort {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5928 0.2106 26.532);
	}
	@property --trvt-color-actionable-approve {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5604 0.1427 146.89);
	}
	@property --trvt-color-actionable-pause {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.6851 0.1954 44.574);
	}
	@property --trvt-color-actionable-release {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.512 0.2177 287.54);
	}
	@property --trvt-color-actionable-submit {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5856 0.1591 251.26);
	}
	@property --trvt-color-background-accentcolor {
		syntax: '<color>';
		inherits: true;
		initial-value: #add8e6;
	}
	@property --trvt-color-background-buttonface {
		syntax: '<color>';
		inherits: true;
		initial-value: #fff;
	}
	@property --trvt-color-background-canvas {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-background-content {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-background-field {
		syntax: '<color>';
		inherits: true;
		initial-value: #000;
	}
	@property --trvt-color-background-header {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-background-highlight {
		syntax: '<color>';
		inherits: true;
		initial-value: #4682b4;
	}
	@property --trvt-color-background-icon {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-background-mark {
		syntax: '<color>';
		inherits: true;
		initial-value: #ff0;
	}
	@property --trvt-color-background-selected {
		syntax: '<color>';
		inherits: true;
		initial-value: #add8e6;
	}
	@property --trvt-color-background-viewport {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-base-accentcolor {
		syntax: '<color>';
		inherits: true;
		initial-value: AccentColor;
	}
	@property --trvt-color-base-accentcolortext {
		syntax: '<color>';
		inherits: true;
		initial-value: AccentColorText;
	}
	@property --trvt-color-base-activetext {
		syntax: '<color>';
		inherits: true;
		initial-value: ActiveText;
	}
	@property --trvt-color-base-bright {
		syntax: '<color>';
		inherits: true;
		initial-value: #ff0;
	}
	@property --trvt-color-base-buttonface {
		syntax: '<color>';
		inherits: true;
		initial-value: ButtonFace;
	}
	@property --trvt-color-base-buttontext {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-base-canvas {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-base-canvastext {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-base-dark {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-base-disabled {
		syntax: '<color>';
		inherits: true;
		initial-value: GrayText;
	}
	@property --trvt-color-base-field {
		syntax: '<color>';
		inherits: true;
		initial-value: Field;
	}
	@property --trvt-color-base-fieldtext {
		syntax: '<color>';
		inherits: true;
		initial-value: FieldText;
	}
	@property --trvt-color-base-highlight {
		syntax: '<color>';
		inherits: true;
		initial-value: Highlight;
	}
	@property --trvt-color-base-highlighttext {
		syntax: '<color>';
		inherits: true;
		initial-value: HighlightText;
	}
	@property --trvt-color-base-hovertext {
		syntax: '<color>';
		inherits: true;
		initial-value: LinkText;
	}
	@property --trvt-color-base-icon {
		syntax: '<color>';
		inherits: true;
		initial-value: CanvasText;
	}
	@property --trvt-color-base-light {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-base-linktext {
		syntax: '<color>';
		inherits: true;
		initial-value: #1e90ff;
	}
	@property --trvt-color-base-mark {
		syntax: '<color>';
		inherits: true;
		initial-value: Mark;
	}
	@property --trvt-color-base-marktext {
		syntax: '<color>';
		inherits: true;
		initial-value: MarkText;
	}
	@property --trvt-color-base-mid {
		syntax: '<color>';
		inherits: true;
		initial-value: #ccc;
	}
	@property --trvt-color-base-selected {
		syntax: '<color>';
		inherits: true;
		initial-value: SelectedItem;
	}
	@property --trvt-color-base-selectedtext {
		syntax: '<color>';
		inherits: true;
		initial-value: SelectedItemText;
	}
	@property --trvt-color-base-shadow {
		syntax: '<color>';
		inherits: true;
		initial-value: #ddd;
	}
	@property --trvt-color-base-visitedtext {
		syntax: '<color>';
		inherits: true;
		initial-value: VisitedText;
	}
	@property --trvt-color-brand-brand {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5999 0.1905 37.88);
	}
	@property --trvt-color-brand-logo {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5999 0.1905 37.88);
	}
	@property --trvt-color-brand-primary {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5999 0.1905 37.88);
	}
	@property --trvt-color-brand-primary-inverted {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.7473 0.1296 272.27);
	}
	@property --trvt-color-brand-secondary {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-brand-secondary-inverted {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-brand-tertiary {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-brand-tertiary-inverted {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-editorial-info {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5783 0.2186 319.15);
	}
	@property --trvt-color-editorial-note {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.8471 0.1693 87.124);
	}
	@property --trvt-color-editorial-quote {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5783 0.2186 319.15);
	}
	@property --trvt-color-hierarchical-primary {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5856 0.1591 251.26);
	}
	@property --trvt-color-hierarchical-secondary {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.6851 0.1954 44.574);
	}
	@property --trvt-color-hierarchical-tertiary {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.7441 0.148 166.36);
	}
	@property --trvt-color-line-border {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-line-outline {
		syntax: '<color>';
		inherits: true;
		initial-value: #4682b4;
	}
	@property --trvt-color-line-seperator {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-line-ui {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-presentational-attention {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.7441 0.148 166.36);
	}
	@property --trvt-color-presentational-cta {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.3927 0.149 269.56);
	}
	@property --trvt-color-presentational-hightlight {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.7441 0.148 166.36);
	}
	@property --trvt-color-presentational-new {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.7099 0.1897 131.53);
	}
	@property --trvt-color-status-failure {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5928 0.2106 26.532);
	}
	@property --trvt-color-status-pending {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.512 0.2177 287.54);
	}
	@property --trvt-color-status-success {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.5604 0.1427 146.89);
	}
	@property --trvt-color-status-warning {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.6851 0.1954 44.574);
	}
	@property --trvt-color-surface-default {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-typography-anchor {
		syntax: '<color>';
		inherits: true;
		initial-value: #1e90ff;
	}
	@property --trvt-color-typography-anchor-active {
		syntax: '<color>';
		inherits: true;
		initial-value: #dc143c;
	}
	@property --trvt-color-typography-anchor-hover {
		syntax: '<color>';
		inherits: true;
		initial-value: #1e90ff;
	}
	@property --trvt-color-typography-anchor-visited {
		syntax: '<color>';
		inherits: true;
		initial-value: purple;
	}
	@property --trvt-color-typography-heading {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-typography-icon {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-typography-text {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-color-typography-text-inverted {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.9182 0.0109 95.172);
	}
	@property --trvt-color-typography-ui {
		syntax: '<color>';
		inherits: true;
		initial-value: oklch(0.263 0.0073 106.89);
	}
	@property --trvt-spacing-page-block {
		syntax: '<length>';
		inherits: true;
		initial-value: 2rem;
	}
}
