# Editors / IDE
.idea
.nova
.vscode

# NPM/Node
.npmrc
node_modules

# Builds
temp
dist

# logs
*.log
yarn-error.log

# testing
coverage

# OS files
.DS_Store

# Rocket
_site
_site-dev

# yarn v2
.yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

