@import '/assets/styles/normalize.css';
@import '/assets/styles/trivet.css';
@import '/designtokens/build/css/trvt_tokens.css' layer(designsystem);

@layer theme {
	/*
		COLOR SWATCH:
		dark #29282D
		mid #625b60
		pantone 2022 #6868a7
		brown #7a6562 
	 */

	:root {
		--trvt-display: flex;
		--trvt-colors-base-light: #f9ece9;
		--trvt-colors-base-dark: #29282d;
		--trvt-colors-base-mid: #625b60;

		--trvt-color-brand-brand: orangered;
		--trvt-color-brand-logo: var(--trvt-color-brand-brand);
		--trvt-color-brand-primary: #6868a7;
		--trvt-color-brand-secondary: #6868a7;
		--trvt-color-brand-tertiary: #7a6562;

		--trvt-font-family-base: Bitter, sans-serif;
		--trvt-font-family-gui: Rubik, sans-serif;
		--trvt-font-family-display: 'Assistant', sans-serif;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--trvt-color-base-background: var(--trvt-color-base-dark);
			--trvt-color-base-background-content: var(
				--trvt-color-base-shade,
				#3d3c44
			);
			--trvt-color-base-text: var(--trvt-color-base-light);
			--trvt-color-base-heading: #8f8fbd;

			--gradient-back: var(--trvt-colors-base-dark);
			--gradient-front: var(--trvt-colors-base-mid);
		}
	}

	@media (prefers-color-scheme: light) {
		:root {
			--trvt-color-base-background: var(--trvt-color-base-mid);
			--trvt-color-base-background-content: var(--trvt-color-base-light);
			--trvt-color-base-text: var(--trvt-color-base-dark);
			--trvt-color-base-heading: var(--trvt-color-brand-primary);
			--gradient-back: var(--trvt-colors-base-mid);
			--gradient-front: var(--trvt-colors-base-dark);
		}
	}

	body {
		background: var(--gradient-back);
		background-image: linear-gradient(
			33.3333deg,
			var(--gradient-back) 66.6666%,
			var(--gradient-front) 100%
		);
		min-height: 100vh;
	}
	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		color: var(--trvt-color-base-link, inherit);
		text-decoration: var(--trvt-color-base-heading, none);
	}
}
