@layer components {
	/* ############################################################### */
	/* Layout Slot Rules */
	:host(trvt-layout) {
		--layout-gap: var(--trvt-gap, 2rem);
		--padding-inline: var(--layout-gap, 2rem);
		--padding-block: var(--layout-gap, 2rem);
	}

	:host([data-trvt-type]) {
		display: var(--display, grid);
		grid-template-columns: var(--template-comumns, 1fr);
		grid-template-rows: var(--template-rows, auto);
		gap: 0;
		padding-block: calc(var(--padding-block) / 2) var(--padding-block);
		padding-inline: var(--padding-inline);
	}
	@media not all and (min-width: 768px) {
		:host([data-trvt-type]) {
			padding-inline: 0;

			padding-block: calc(var(--padding-block) / 4) var(--padding-block);
		}
		:host(trvt-layout[data-trvt-type]) {
			--template-comumns: 100%;
			--template-rows: auto;
		}
		:host([data-trvt-type]) .navigation,
		:host([data-trvt-type]) .header,
		:host([data-trvt-type]) .main,
		:host([data-trvt-type]) .sidebar,
		:host([data-trvt-type]) .footer {
			--grid-column: 1;
		}
	}

	/* ############################################################### */
	/* Layout Slot Rules */
	*:where(.navigation, .header, .main, .sidebar, .footer) {
		grid-column: var(--grid-column);
		background-color: var(--layout-background-color, transparent);
	}
	*:where(.main, .sidebar, ) {
		background-color: var(--trvt-color-background-content, transparent);
	}
	*:where(.footer) {
		background-color: transparent;
		color: var(--trvt-color-base-light);
		padding-inline: var(--trvt-gap);
	}
	.main,
	.footer {
		padding-inline: var(--trvt-gap);
	}

	.sidebar {
		padding-block: var(--layout-gap);
		padding-inline: var(--layout-gap);
	}

	/* ############################################################### */
	/* Layout Slot Properties */
	.navigation {
		--padding-inline: 0;
		--padding-block: 0;
		--grid-column: 1 / -1;
	}

	.header {
		--padding-inline: 0;
		--padding-block: 0;
		--grid-column: 1 / -1;
	}

	.main {
		--padding-inline: 0;
		--padding-block: 0;
		--grid-column: 1 / -1;
	}

	.sidebar {
		--grid-column: 1 / -1;
	}

	.footer {
		--grid-column: 1 / -1;
	}

	/* ############################################################### */
	/* Layout Type Properties */
	/* Page */
	:host([data-trvt-type='page']),
	:host([data-trvt-type='overview']) {
		/*--padding-inline: min(var(--trvt-gap), (100vw - 100ch) / 2);*/
		--padding-inline: calc(
			clamp(var(--layout-gap), (100vw - 120ch) / 2, (100vw - 1280px) / 2)
		);
		--template-comumns: 1fr 1fr 1fr;
		--template-rows: 1fr;
	}

	:host([data-trvt-type='page']) .main,
	:host([data-trvt-type='overview']).main {
		--grid-column: 1 / -2;
		--grid-row: 1;
	}

	:host([data-trvt-type='page']) .sidebar,
	:host([data-trvt-type='overview']) .sidebar {
		--grid-column: -2 / -1;
		--grid-row: 1;
	}

	/* Article */
	:host([data-trvt-type='article']) {
		--display: grid;
		--padding-inline: 0;
	}

	:host([type='article']) > article {
		--grid-column: 1;
	}

	:host([data-trvt-type='article']) .sidebar {
		--grid-column: 2;
	}
}
