@layer components {
	/* ############################################################### */
	/* Layout Slot Rules */

	@layer props {
		.trvt-layout {
			--layout-min-width: var(--trvt-layout-min-width, 375px);
			--layout-min-width: var(--trvt-layout-max-width, 1280px);
			--padding-inline: var(--trvt-row-gap, 2rem);
			--padding-block: var(--trvt-column-gap, 2rem);
			--layout-row-gap: var(--trvt-row-gap, 2rem);
			--layout-column-gap: var(--trvt-column-gap, 2rem);
		}

		/* Layout Slot Properties */
	
		.notifications {
			--grid-area: notifications;
		}
		.navigation {
			--grid-area: navigation;
		}
		.header {
			--grid-area: header;
		}
		.main {
			--grid-area: main;
		}
		.sidebar {
			--grid-area: sidebar;
		}
		.footer {
			--grid-area: footer;
		}
	}

	@layer modifiers {
		/* ############################################################### */
		/* Layout Type Properties */

		/* Default - Mobile first */
		.trvt-layout {
			--layout-row-gap: 0.5rem;
			--layout-column-gap: 0.5rem;
			--padding-inline: 0;
			--padding-block: calc(var(--layout-gap) / 4);
			--template-columns: 1fr;
			--template-areas: 'navigation' 'header' 'main' 'sidebar' 'footer'
				'notification';
		}
		
		@container layout (min-width: 680px) {
			.trvt-layout {
				--layout-row-gap: 1rem;
				--layout-column-gap: 1rem;
				--padding-inline: 0;
				--padding-block: 0;
			}

			/* Asymetric (3/1) layout - Content in the starting position */
			.asymmetric.start {
				--template-columns: repeat(3, minmax(0, 1fr));
				--template-areas: 'notification notification notification'
					'navigation   navigation   navigation'
					'header       header       header'
					'main         main         sidebar'
					'footer       footer       footer';
			}
			.asymmetric.end {
				--template-columns: repeat(3, minmax(0, 1fr));
				--template-areas: 'notification notification notification'
					'navigation   navigation   navigation'
					'header       header       header'
					'sidebar      main         main'
					'footer       footer       footer';
			}
			.split.start {
				--template-columns: repeat(2, minmax(0, 1fr));
				--template-areas: 'notification notification'
					'navigation   navigation' 'header       header'
					'main         sidebar' 'footer       footer';
			}
			.split.end {
				--template-columns: repeat(2, minmax(0, 1fr));
				--template-areas: 'notification notification'
					'navigation   navigation' 'header       header'
					'sidebar      main' 'footer       footer';
			}
			.row {
				--template-columns: repeat(auto-fit, minmax(0, 1fr));
				--template-areas: none;
				--layout-column-gap: 2rem;
				--padding-inline: 0;
				--padding-block: 0;
			}
			.stacked {
				--template-columns: 100%;
				--template-areas: 'notification' 'navigation' 'header' 'main'
					'sidebar' 'footer';
			}
		}
	}

	@layer selectors {
		:host {
			display: block;
			container: layout / inline-size;
		}
		.trvt-layout {
			display: var(--display, grid);
			grid-template-columns: var(--template-columns, 1fr);
			grid-template-areas: var(--template-areas);
			row-gap: var(--layout-row-gap);
			column-gap: var(--layout-column-gap);
			padding-block: calc(var(--padding-block) / 2) var(--padding-block);
			padding-inline: var(--padding-inline);
			margin-block: 0;
			margin-inline: auto;
			min-width: var(--layout-min-width);
			max-width: var(--layout-max-width);
		}

		/* ############################################################### */
		/* Layout Slot Rules */
		*:where(.notification, .navigation, .header, .main, .sidebar, .footer) {
			grid-area: var(--grid-area);
			padding-block: var(--padding-block);
			padding-inline: var(--padding-inline);
			background-color: var(--trvt-layout-surface, transparent);
			margin-trim: block;
		}
	}
}
