<trvt-section modifier="promo" data-cloak="true">
	<header slot="header">
		<trvt-elem tag="h1" class="heading">
			<span slot="default">${title}</span>
		</trvt-elem>
	</header>
	<div slot="content" class="layout">
		<aside class="sidebar">
			<form class="form">
				<h4 class="heading">Geef aan of wij marketing cookies mogen plaatsen.</h4>
				<fieldset class="form__set">
					<div class="form__field">
						<div class="form__inputs form__inputs--list">
							<label class="form__radio">
								<input type="radio" name="cookies"><span>I want cookies!</span>
							</label>
							<label class="form__radio">
								<input type="radio" name="cookies"><span>No cookies for me!</span>
							</label>
						</div>
					</div>
				</fieldset>
			</form>
		</aside>
		<article class="article">
			<div><h2>The bedding was hardly able to cover it.</h2>
				<p><img src="https://via.placeholder.com/320x180">It showed a lady fitted out with a fur hat and fur boa
					who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the
					viewer.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet consectetuer.</li>
					<li>Aenean commodo ligula eget dolor.</li>
					<li>Aenean massa cum sociis natoque penatibus.</li>
				</ul>
				<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
					covered the whole of her lower arm towards the viewer.</p>
				<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
					covered the whole of her lower arm towards the viewer.</p>
				<table>
					<tr>
						<th>Entry Header 1</th>
						<th>Entry Header 2</th>
						<th>Entry Header 3</th>
						<th>Entry Header 4</th>
					</tr>
					<tr>
						<td>Entry First Line 1 PossibleLongeTableWord</td>
						<td>Entry First Line 2 Long text that could make the text cover multiple lines.</td>
						<td>Entry First Line 3</td>
						<td>Entry First Line 4</td>
					</tr>
					<tr>
						<td>Entry Line 1</td>
						<td>Entry Line 2</td>
						<td>Entry Line 3</td>
						<td>Entry Line 4</td>
					</tr>
					<tr>
						<td>Entry Last Line 1</td>
						<td>Entry Last Line 2</td>
						<td>Entry Last Line 3</td>
						<td>Entry Last Line 4</td>
					</tr>
				</table>
				<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
					covered the whole of her lower arm towards the viewer.</p></div>
			<div class="panel">
				<header class="panel__header">
					<picture data-focus="" class="picture"><!----><!----><!----><img
						src="https://via.placeholder.com/1200x900" alt="Default image"></picture>
					<h3 class="heading">Image Panel title</h3></header>
				<div class="panel__body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, amet,
					assumenda debitis dicta doloribus dolorum eos eum explicabo facilis hic iure, iusto laboriosam modi
					molestiae necessitatibus nemo quisquam similique ullam.</p></div>
			</div>
		</article>
	</div>
	<footer slot="footer">haha</footer>
</trvt-section>
