@layer components {
	@layer selectors {
		section {
			margin-trim: block;
			background: whitesmoke;
			padding: 2ex 2ch;
			border-radius: 1cap;
		}
		.start {
			font-weight: 900;
		}
	}
	@layer modifiers {
		@container component (min-width: 35em) {
		}
	}
}
