@layer components.selectors {
	:host {
		writing-mode: horizontal-tb;
		grid-column: var(--trvt-cell-col-start) / span var(--trvt-cell-col-span);
		grid-row: var(--grid-row, auto) / span var(--trvt-cell-row-span);
		display: flex;
		align-items: center;
		background-color: var(--canvasText);
		color: var(--canvas);
		white-space: nowrap;
		font-weight: 900;
		text-align: center;
	}
	@supports not (grid-template-columns: subgrid) {
		:host {
			position: var(--table-sticky-cell);
			left: 0;
		}
	}
	div {
		padding: 0.5ex 2ch;
	}
}
