@import "vendors/normalize";

body {
	display: block;
	font-family: Arial, sans-serif;
	background: lightskyblue;
}

[slot] {
	display: contents;
}


.trvt-section {

	&__header {
		// Todo: add header style
	}
	&__layout {
		display: var(--display, block);
		grid-template-columns: var(--template-columns, 1fr);
		grid-template-rows: var(--template-rows, 1fr);
		background: var(--background-color, inherit);
	}
	&__footer {
		// Todo: add footer style
	}
}
