// Abstracts
@import "abstracts/vars/colors";
@import "abstracts/vars/typography";
@import "abstracts/vars/sizes";

// Vendors
@import "vendors/normalize";


body {
	font-family: var(--font-body, sans-serif);
	background: var(--background-color-body, white);
	color: var(--dark, black);
	padding: var(--unit, 1rem);
}

[data-cloak] {
	visibility: hidden;
}

img, picture {
	float: var(--float-picture, none);
	margin: var(--float-offset, 0);
	width: var(--picture-width, auto);
}
