.trvt-section {
	&__header {
		// Todo: add header style
	}
	&__layout {
		display: var(--display);
		grid-template-columns: var(--template-columns);
		grid-template-rows: var(--template-rows);
		background: var(--background-color);
	}
	&__footer {
		// Todo: add footer style
	}
}
