@layer designsystem {
	/*	###################################################################### */
	/*	https://rehansaeed.com/system-for-grouping-and-sorting-css-properties/ */

	/* 	Parent Layout */
	/* 	Layout */
	/* 	Box Model */
	/* 	Positioning */
	/* 	Display */

	:host {
		contain: style layout;
	}
	:host([data-loaded='true']),
	:host:where(mds-layout) {
		visibility: hidden;
	}
	:host([data-loaded='true']) {
		visibility: visible;
	}
	[data-loaded='true'] [slot] {
		display: block;
	}
	/*	################################################################ */
	/*	Page layout	Nav													 */
	body > * > nav {
		position: relative;
		padding-left: 1rem;
		color: var(--trvt-colors-base-light);
		background: var(--trvt-colors-base-dark);
	}

	main {
		padding: 0 var(--trvt-gap);
		//background: var(--trvt-colors-base-light);
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		color: var(--trvt-colors-base-light);
		background: var(--trvt-colors-base-mid);
		text-align: center;
	}

	.subtext {
		font-family: var(--trvt-fonts-gui-family);
		font-variation-settings: 'wght' 300;
		font-size: 0.8rem;
		line-height: 1.4;
	}

	h1 {
		font-family: var(--trvt-fonts-display-family);
		font-variation-settings: 'wght' 600;
		line-height: 1.2;
		font-size: 2.5rem;
	}

	h2 {
		font-family: var(--trvt-fonts-display-family);
		font-size: 1.75rem;
		font-variation-settings: 'wght' 600;
	}

	h3 {
		font-family: var(--trvt-fonts-display-family);
		font-size: 1.25rem;
		font-variation-settings: 'wght' 500;
	}

	h5 {
		font-family: var(--trvt-fonts-display-family);
		font-size: 1.25rem;
		font-variation-settings: 'wght' 400;
	}

	h6 {
		font-family: var(--trvt-fonts-display-family);
		text-transform: uppercase;
		font-size: 1rem;
		font-variation-settings: 'wght' 600;
	}

	button {
		font-family: var(--trvt-fonts-gui-family);
		padding: 0.33rem 1rem;
		font-size: 1.2rem;
		line-height: 1.1;
		color: darkslateblue;
		background: transparent;
		letter-spacing: 0.05rem;
		text-transform: capitalize;
		font-variation-settings: 'wght' 500;
		border: 0.18rem solid darkslateblue;
		border-radius: 2rem;
	}

	trvt-aside {
		display: flex;
		flex-direction: column;
		padding-top: 2rem;
		gap: 1rem;
	}
}
