@layer components.props {
	:host {
		--is-accordion: initial;
		--is-tabbed: ;
		--toggle-display: block;
		--container-display: block;
		--toggle-summary-active-canvas: var(
			--trvt-color-background-surfaces,
			canvas
		);
		--toggle-summary-active-text: var(--trvt-color-base-texts, canvasText);
		--toggle-detail-active-canvas: var(
			--trvt-color-background-surfaces,
			canvas
		);
		--toggle-border-color: canvasText;
		--toggle-border-width: 2px;
	}
	.content {
		--tab-radius: var(--is-tabbed, 1ex);
	}
}
@layer components.selectors {
	:host {
		display: block;
		container: toggles / inline-size;
	}
	.content {
		display: var(--container-display);
		grid-template-columns: repeat(auto-fill, 1fr);
		grid-template-rows: auto auto;
		gap: 0 var(--space-inline);
		margin-trim: block;
		margin-trim: inline;
	}
}
@layer components.modifiers {
	@container toggles (min-width: 640px) {
		.content {
			--is-accordion: ;
			--is-tabbed: initial;
			--container-display: grid;
			--toggle-display: contents;
		}
	}
}
