.trvt-section {

	&__header {
		// Todo: add header style
	}
	&__body {
		display: var(--display, block);
		grid-template-columns: var(--template-columns, 1fr);
		grid-template-rows: var(--template-rows, 1fr);
		align-content: var(--align, normal);
		justify-content: var(--justify, normal);
		background: var(--background-color, transparent);
	}
	&__footer {
		// Todo: add footer style
	}

}
