@layer design.utilities {
	hr {
		border: none;
		border-block-start: 1px solid;
		color: inherit;
		block-size: 0;
		overflow: visible;
	}
	.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden) {
		clip-path: inset(50%) !important;
		height: 1px !important;
		width: 1px !important;
		overflow: hidden !important;
		position: absolute !important;
		white-space: nowrap !important;
		border: 0 !important;
	}

	.content:has(> slot) {
		margin-trim: block;
	}

	@supports not (margin-trim: block) {
		.content > ::slotted(*:first-child) {
			margin-block-start: 0 !important;
		}
		.content > ::slotted(*:last-child) {
			margin-block-end: 0 !important;
		}
	}

	/*	This hides the sub components until they're all registered.  */
	trvt-layout:has(:not(:defined)) {
		visibility: hidden;
	}
}
