@layer components {
	:host {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 0 2rem;
		color: var(--trvt-colors-base-text);
		background-color: var(--trvt-color-brand-primary);
		background-image: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.6) 0,
				rgba(0, 0, 0, 0) 8px
			),
			var(--header-image-src);
		/* 		border-bottom: 5px solid var(--trvt-color-brand-primary); */
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 20rem;
		overflow: hidden;
	}
	h1 {
		font-family: var(--trvt-font-family-gui);
		text-transform: uppercase;
		font-variation-settings: 'wght' 700;
		font-size: 10rem;
		line-height: 0.8;
		vertical-align: bottom;
		text-align: end;
		opacity: 0.6;
		color: var(--trvt-color-brand-primary);
	}
}
