:host {
	//--trvt-colors-base-text: DarkSlateBlue;
}

h2 {
	font-family: var(--trvt-fonts-display-family);
	color: var(--trvt-theme-color-secondary);
}
h3 {
	font-family: var(--trvt-fonts-base-family);
	font-style: italic;
	color: var(--trvt-colors-base-mid);
	font-variation-settings: 'wght' 500;
}

.trvt-article {
	/* Parent Layout */

	/* Layout */

	/* Box Model */

	/* Positioning */

	/* Display */
}

.trvt-intro {
	font-style: italic;
	font-variation-settings: 'wght' 550;
}
