/* 	Based on a reset by Mayank 
 *	https://www.npmjs.com/package/@acab/reset.css 
 */
@layer defaults.reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	[hidden] {
		display: none !important;
	}
	html,
	:host {
		-webkit-text-size-adjust: none;
		color-scheme: dark light;
	}
	body {
		-webkit-font-smoothing: antialiased;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
		color: inherit;
	}
	button, label, select, summary, [role='button'], [role='option']) {
		cursor: pointer;
	}
	:disabled {
		cursor: not-allowed;
	}
	label:has(> input:disabled),
	label:has(+ input:disabled) {
		cursor: not-allowed;
	}
	button {
		border-style: solid;
	}
	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		display: block;
	}

	img,
	picture,
	svg {
		max-width: 100%;
		height: auto;
	}
}

/*
	default tokens work as follows:
	--scope_element_property
	Root element are not included in the naming convention. 
	The root or host element is where the cascade starts. 
*/

@layer default.options {
	html,
	:host {
		font-family: var(--trvt-defaults_font-family, system-ui, sans-serif);
		font-size: var(--trvt-defaults_font-size, 100%);
		line-height: var(--trvt-defaults_line-height, 2ex);
	}
	body {
		margin: var(--trvt-defaults_body_margin, 0);
		min-height: var(--trvt-defaults_body_min-height, 100dvh);
	}
	a {
		text-underline-offset: var(
			--trvt-defaults_text-underline-offset,
			0.2ex
		);
		text-decoration-thickness: var(
			--trvt-defaults_anchor_text-decoration-thickness
		);
	}

	h1,
	h2,
	h3 {
		line-height: var(--trvt-defaults_heading_line-height, 1ex);
	}

	:focus-visible {
		outline: var(--trvt-defaults_outline-witdh, 2px)
			var(--trvt-defaults_outline-style, solid)
			var(--focus-color, Highlight);
		outline-offset: var(--trvt-defaults_outline-offset, 2px);
	}
	textarea {
		resize: var(--trvt-defaults_textarea_resize, vertical);
	}
	@media (prefers-reduced-motion: no-preference) {
		html:focus-within {
			scroll-behavior: var(
				--trvt-defaults_focus_scroll-behaviour,
				smooth
			);
		}
	}
}

@layer default.utilities {
	hr {
		border-width: 1px 0 0 0;
		color: inherit;
		height: 0;
		overflow: visible;
	}
	.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden) {
		clip-path: inset(50%) !important;
		height: 1px !important;
		width: 1px !important;
		overflow: hidden !important;
		position: absolute !important;
		white-space: nowrap !important;
		border: 0 !important;
	}
}
