@layer trivet.props {
	:root {
		--ON: initial;
		--OFF: ;
		--TRUE: initial;
		--FALSE: ;

		--trvt-display: initial;
		--trvt-gap: clamp(1rem, calc(0.51rem + 2.44vw), 2.25rem);
	}
}

@layer trivet.foundation {
	/*	###################################################################### */
	/*	https://rehansaeed.com/system-for-grouping-and-sorting-css-properties/ */
	/* 	Behaviour */
	/* 	Parent Layout */
	/* 	Layout */
	/* 	Box Model */
	/* 	Positioning */
	/* 	Display */
	/*	###################################################################### */

	:root {
		margin: 0;
		font-size: var(--trvt-typography-size-root, 100%);
		line-height: var(--trvt-typography-leading-root, 1.5);
		box-sizing: border-box;
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	body {
		margin: 0;
		font-family: var(--trvt-font-family-base);
		color: var(--trvt-color-typography-text);
		background: var(--trvt-color-background-viewport);
	}

	h1 {
		font-family: var(--trvt-font-family-display);
		font-size: var(--trvt-typography-size-xxl);
		line-height: var(--trvt-typography-leading-s);
		color: var(--trvt-color-typography-heading);
	}

	h2 {
		font-family: var(--trvt-font-family-display);
		font-size: var(--trvt-typography-size-xl);
		line-height: var(--trvt-typography-leading-m);
		color: var(--trvt-color-typography-heading);
	}

	h3 {
		font-family: var(--trvt-font-family-display);
		font-size: 1.25rem;
		color: var(--trvt-color-typography-heading);
	}

	h4 {
		font-family: var(--trvt-font-family-display);
		font-size: 1.25rem;
		color: var(--trvt-color-typography-heading);
	}

	h5 {
		font-family: var(--trvt-font-family-display);
		font-size: 1.25rem;
		color: var(--trvt-color-typography-heading);
	}

	h6 {
		font-family: var(--trvt-font-family-display);
		text-transform: uppercase;
		font-size: 1rem;
		color: var(--trvt-color-typography-heading);
	}

	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		color: var(--trvt-color-typography-anchor);
	}
}

@layer trivet.foundation {
	/* 	This hides the component content until it's ready. 
		The Trivet core.js registers a componentLoaded event and the layout dispatches it after it renders its content. */
	[slot] {
		opacity: 0.1;
	}
	[data-loaded='true'] [slot] {
		opacity: 1;
	}

	.content:has(> slot) {
		margin-trim: block;
	}

	@supports not (margin-trim: block) {
		.content > ::slotted(*:first-child) {
			margin-block-start: 0 !important;
		}
		.content > ::slotted(*:last-child) {
			margin-block-end: 0 !important;
		}
	}

	/*	Container control */
	trvt-layout:has(:not(:defined)) {
		visibility: hidden;
	}
}
