body {
	font-family: var(--font-body, sans-serif);
	background: var(--background-color-body, white);
	color: var(--dark, black);
	padding: var(--unit, 1rem);
	min-height: 100vw;
}

img,
picture {
	float: var(--float-picture, none);
	margin: var(--float-offset, 0);
	width: var(--picture-width, auto);
}

.hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
