@layer components {
	@layer props {
		button {
			--_radius: 0.5ch;
			--_background-color: canvas;
		}
	}
	@layer selectors {
		button {
			border-radius: var(--_radius);
			background: var(--_background-color);
		}
	}
}
