/* prettier-ignore */
@layer components {
	@layer props {
		:host {
			/* This is to style the 'button' in the light DOM via the Custom Element. */
			--_radius: 0.5ch;
			--_outline-color: var(--trvt-color-line-outline);
			--_outline-width: 4px;
			--_outline-offset: 2px;
		}
		button {
			--_context: var(--_context-default);
			--_context-default: var(--_context,);
			--_context-primary: var(--_context,);
			--_context-cta: var(--_context,);
			--_context-abort: var(--_context,);
			--_context-approve: var(--_context,);
			--_context-pause: var(--_context,);
			--_context-release: var(--_context,);
		}
		button {
			--_padding-block: var(--trvt-spacing-content-block-xs, 0.5rem);
			--_padding-inline: var(--trvt-spacing-content-inline-s, 0.5rem);
			--_row-gap: var(--trvt-spacing-content-block-xs, 0.5rem);
			--_column-gap: var(--trvt-spacing-content-inline-s, 0.5rem);
			--_border-color: var(--trvt-color-line-ui);
			--_border-style: solid;
			--_border-width: 2px;
			--_font-family: var(--trvt-typography-family-gui);
			--_color: var(--trvt-color-base-button);
			--_background-color: var(--trvt-color-background-button);
		}
	}

	@layer modifiers {
		button:focus-visible {
			outline: unset;
		}

		button {
			--_border-color: var(--_context-primary, transparent)
				var(--_context-cta, transparent)
				var(--_context-abort, transparent)
				var(--_context-approve, transparent)
				var(--_context-pause, transparent)
				var(--_context-release, transparent);
				
			--_color: var(
					--_context-primary,
					var(--trvt-color-typography-text-inverted)
				)
				var(
					--_context-cta, 
					var(--trvt-color-typography-text-inverted)
				)
				var(
					--_context-abort,
					var(--trvt-color-typography-text-inverted)
				)
				var(
					--_context-approve,
					var(--trvt-color-typography-text-inverted)
				)
				var(
					--_context-release,
					var(--trvt-color-typography-text-inverted)
				)
				var(
					--_context-pause,
					var(--trvt-color-typography-text-inverted)
				);
			--_background-color: var(
					--_context-primary,
					var(--trvt-color-contexts-hierarchical-primary)
				)
				var(
					--_context-cta,
					var(--trvt-color-contexts-presentational-cta)
				)
				var(
					--_context-abort,
					var(--trvt-color-contexts-actionable-abort)
				)
				var(
					--_context-approve,
					var(--trvt-color-contexts-actionable-approve)
				)
				var(
					--_context-release,
					var(--trvt-color-contexts-actionable-release)
				)
				var(
					--_context-pause,
					var(--trvt-color-contexts-actionable-release)
				);
		}
	}

	@layer selectors {
		:host {
			display: inline-block;
			contain: layout;
		}
		button {
			display: inline-flex;
			row-gap: var(--_row-gap);
			column-gap: var(--_column-gap);
			border-radius: var(--_radius);
			padding-block: var(--_padding-block);
			padding-inline: var(--_padding-inline);
			border-color: var(--_border-color);
			border-style: var(--_border-style);
			border-width: var(--_border-width);
			font-family: var(--_font-family);
			color: var(--_color);
			background: var(--_background-color);
		}
	}
}
