$icomoon-font-family: "trvt-icons" !default;
$icomoon-font-path: "fonts" !default;

$trvt-icon-error: "\e900";
$trvt-icon-error_outline: "\e901";
$trvt-icon-warning: "\e902";
$trvt-icon-add_alert: "\e903";
$trvt-icon-notification_important: "\e904";
$trvt-icon-album: "\e905";
$trvt-icon-av_timer: "\e906";
$trvt-icon-closed_caption: "\e907";
$trvt-icon-equalizer: "\e908";
$trvt-icon-explicit: "\e909";
$trvt-icon-fast_forward: "\e90a";
$trvt-icon-fast_rewind: "\e90b";
$trvt-icon-games: "\e90c";
$trvt-icon-hearing: "\e90d";
$trvt-icon-high_quality: "\e90e";
$trvt-icon-loop: "\e90f";
$trvt-icon-mic: "\e910";
$trvt-icon-mic_none: "\e911";
$trvt-icon-mic_off: "\e912";
$trvt-icon-movie: "\e913";
$trvt-icon-library_add: "\e914";
$trvt-icon-library_books: "\e915";
$trvt-icon-library_music: "\e916";
$trvt-icon-new_releases: "\e917";
$trvt-icon-not_interested: "\e918";
$trvt-icon-pause: "\e919";
$trvt-icon-pause_circle_filled: "\e91a";
$trvt-icon-pause_circle_outline: "\e91b";
$trvt-icon-play_arrow: "\e91c";
$trvt-icon-play_circle_filled: "\e91d";
$trvt-icon-play_circle_outline: "\e91e";
$trvt-icon-playlist_add: "\e91f";
$trvt-icon-queue_music: "\e920";
$trvt-icon-radio: "\e921";
$trvt-icon-recent_actors: "\e922";
$trvt-icon-repeat: "\e923";
$trvt-icon-repeat_one: "\e924";
$trvt-icon-replay: "\e925";
$trvt-icon-shuffle: "\e926";
$trvt-icon-skip_next: "\e927";
$trvt-icon-skip_previous: "\e928";
$trvt-icon-snooze: "\e929";
$trvt-icon-stop: "\e92a";
$trvt-icon-subtitles: "\e92b";
$trvt-icon-surround_sound: "\e92c";
$trvt-icon-video_library: "\e92d";
$trvt-icon-videocam: "\e92e";
$trvt-icon-videocam_off: "\e92f";
$trvt-icon-volume_down: "\e930";
$trvt-icon-volume_mute: "\e931";
$trvt-icon-volume_off: "\e932";
$trvt-icon-volume_up: "\e933";
$trvt-icon-web: "\e934";
$trvt-icon-hd: "\e935";
$trvt-icon-sort_by_alpha: "\e936";
$trvt-icon-airplay: "\e937";
$trvt-icon-forward_10: "\e938";
$trvt-icon-forward_30: "\e939";
$trvt-icon-forward_5: "\e93a";
$trvt-icon-replay_10: "\e93b";
$trvt-icon-replay_30: "\e93c";
$trvt-icon-replay_5: "\e93d";
$trvt-icon-add_to_queue: "\e93e";
$trvt-icon-fiber_dvr: "\e93f";
$trvt-icon-fiber_new: "\e940";
$trvt-icon-playlist_play: "\e941";
$trvt-icon-art_track: "\e942";
$trvt-icon-fiber_manual_record: "\e943";
$trvt-icon-fiber_smart_record: "\e944";
$trvt-icon-music_video: "\e945";
$trvt-icon-subscriptions: "\e946";
$trvt-icon-playlist_add_check: "\e947";
$trvt-icon-queue_play_next: "\e948";
$trvt-icon-remove_from_queue: "\e949";
$trvt-icon-slow_motion_video: "\e94a";
$trvt-icon-web_asset: "\e94b";
$trvt-icon-fiber_pin: "\e94c";
$trvt-icon-branding_watermark: "\e94d";
$trvt-icon-call_to_action: "\e94e";
$trvt-icon-featured_play_list: "\e94f";
$trvt-icon-featured_video: "\e950";
$trvt-icon-note: "\e951";
$trvt-icon-video_call: "\e952";
$trvt-icon-video_label: "\e953";
$trvt-icon-4k: "\e954";
$trvt-icon-missed_video_call: "\e955";
$trvt-icon-control_camera: "\e956";
$trvt-icon-business: "\e957";
$trvt-icon-call: "\e958";
$trvt-icon-call_end: "\e959";
$trvt-icon-call_made: "\e95a";
$trvt-icon-call_merge: "\e95b";
$trvt-icon-call_missed: "\e95c";
$trvt-icon-call_received: "\e95d";
$trvt-icon-call_split: "\e95e";
$trvt-icon-chat: "\e95f";
$trvt-icon-clear_all: "\e960";
$trvt-icon-comment: "\e961";
$trvt-icon-contacts: "\e962";
$trvt-icon-dialer_sip: "\e963";
$trvt-icon-dialpad: "\e964";
$trvt-icon-email: "\e965";
$trvt-icon-forum: "\e966";
$trvt-icon-import_export: "\e967";
$trvt-icon-invert_colors_off: "\e968";
$trvt-icon-live_help: "\e969";
$trvt-icon-location_off: "\e96a";
$trvt-icon-location_on: "\e96b";
$trvt-icon-message: "\e96c";
$trvt-icon-chat_bubble: "\e96d";
$trvt-icon-chat_bubble_outline: "\e96e";
$trvt-icon-no_sim: "\e96f";
$trvt-icon-phone: "\e970";
$trvt-icon-portable_wifi_off: "\e971";
$trvt-icon-contact_phone: "\e972";
$trvt-icon-contact_mail: "\e973";
$trvt-icon-ring_volume: "\e974";
$trvt-icon-speaker_phone: "\e975";
$trvt-icon-stay_current_landscape: "\e976";
$trvt-icon-stay_current_portrait: "\e977";
$trvt-icon-swap_calls: "\e978";
$trvt-icon-textsms: "\e979";
$trvt-icon-voicemail: "\e97a";
$trvt-icon-vpn_key: "\e97b";
$trvt-icon-phonelink_erase: "\e97c";
$trvt-icon-phonelink_lock: "\e97d";
$trvt-icon-phonelink_ring: "\e97e";
$trvt-icon-phonelink_setup: "\e97f";
$trvt-icon-present_to_all: "\e980";
$trvt-icon-import_contacts: "\e981";
$trvt-icon-mail_outline: "\e982";
$trvt-icon-screen_share: "\e983";
$trvt-icon-stop_screen_share: "\e984";
$trvt-icon-call_missed_outgoing: "\e985";
$trvt-icon-rss_feed: "\e986";
$trvt-icon-alternate_email: "\e987";
$trvt-icon-mobile_screen_share: "\e988";
$trvt-icon-add_call: "\e989";
$trvt-icon-cancel_presentation: "\e98a";
$trvt-icon-pause_presentation: "\e98b";
$trvt-icon-unsubscribe: "\e98c";
$trvt-icon-cell_wifi: "\e98d";
$trvt-icon-sentiment_satisfied_alt: "\e98e";
$trvt-icon-list_alt: "\e98f";
$trvt-icon-domain_disabled: "\e990";
$trvt-icon-lightbulb: "\e991";
$trvt-icon-add: "\e992";
$trvt-icon-add_box: "\e993";
$trvt-icon-add_circle: "\e994";
$trvt-icon-add_circle_outline: "\e995";
$trvt-icon-archive: "\e996";
$trvt-icon-backspace: "\e997";
$trvt-icon-block: "\e998";
$trvt-icon-clear: "\e999";
$trvt-icon-content_copy: "\e99a";
$trvt-icon-content_cut: "\e99b";
$trvt-icon-content_paste: "\e99c";
$trvt-icon-create: "\e99d";
$trvt-icon-drafts: "\e99e";
$trvt-icon-filter_list: "\e99f";
$trvt-icon-flag: "\e9a0";
$trvt-icon-forward: "\e9a1";
$trvt-icon-gesture: "\e9a2";
$trvt-icon-inbox: "\e9a3";
$trvt-icon-link: "\e9a4";
$trvt-icon-redo: "\e9a5";
$trvt-icon-remove: "\e9a6";
$trvt-icon-remove_circle: "\e9a7";
$trvt-icon-remove_circle_outline: "\e9a8";
$trvt-icon-reply: "\e9a9";
$trvt-icon-reply_all: "\e9aa";
$trvt-icon-report: "\e9ab";
$trvt-icon-save: "\e9ac";
$trvt-icon-select_all: "\e9ad";
$trvt-icon-send: "\e9ae";
$trvt-icon-sort: "\e9af";
$trvt-icon-text_format: "\e9b0";
$trvt-icon-undo: "\e9b1";
$trvt-icon-font_download: "\e9b2";
$trvt-icon-move_to_inbox: "\e9b3";
$trvt-icon-unarchive: "\e9b4";
$trvt-icon-next_week: "\e9b5";
$trvt-icon-weekend: "\e9b6";
$trvt-icon-delete_sweep: "\e9b7";
$trvt-icon-low_priority: "\e9b8";
$trvt-icon-outlined_flag: "\e9b9";
$trvt-icon-link_off: "\e9ba";
$trvt-icon-report_off: "\e9bb";
$trvt-icon-save_alt: "\e9bc";
$trvt-icon-ballot: "\e9bd";
$trvt-icon-file_copy: "\e9be";
$trvt-icon-how_to_reg: "\e9bf";
$trvt-icon-how_to_vote: "\e9c0";
$trvt-icon-waves: "\e9c1";
$trvt-icon-where_to_vote: "\e9c2";
$trvt-icon-add_link: "\e9c3";
$trvt-icon-inventory: "\e9c4";
$trvt-icon-access_alarm: "\e9c5";
$trvt-icon-access_alarms: "\e9c6";
$trvt-icon-access_time: "\e9c7";
$trvt-icon-add_alarm: "\e9c8";
$trvt-icon-airplanemode_off: "\e9c9";
$trvt-icon-airplanemode_on: "\e9ca";
$trvt-icon-battery_alert: "\e9cb";
$trvt-icon-battery_charging_full: "\e9cc";
$trvt-icon-battery_full: "\e9cd";
$trvt-icon-battery_unknown: "\e9ce";
$trvt-icon-bluetooth: "\e9cf";
$trvt-icon-bluetooth_connected: "\e9d0";
$trvt-icon-bluetooth_disabled: "\e9d1";
$trvt-icon-bluetooth_searching: "\e9d2";
$trvt-icon-brightness_auto: "\e9d3";
$trvt-icon-brightness_high: "\e9d4";
$trvt-icon-brightness_low: "\e9d5";
$trvt-icon-brightness_medium: "\e9d6";
$trvt-icon-data_usage: "\e9d7";
$trvt-icon-developer_mode: "\e9d8";
$trvt-icon-devices: "\e9d9";
$trvt-icon-dvr: "\e9da";
$trvt-icon-gps_fixed: "\e9db";
$trvt-icon-gps_not_fixed: "\e9dc";
$trvt-icon-gps_off: "\e9dd";
$trvt-icon-graphic_eq: "\e9de";
$trvt-icon-network_cell: "\e9df";
$trvt-icon-network_wifi: "\e9e0";
$trvt-icon-nfc: "\e9e1";
$trvt-icon-now_wallpaper: "\e9e2";
$trvt-icon-now_widgets: "\e9e3";
$trvt-icon-screen_lock_landscape: "\e9e4";
$trvt-icon-screen_lock_portrait: "\e9e5";
$trvt-icon-screen_lock_rotation: "\e9e6";
$trvt-icon-screen_rotation: "\e9e7";
$trvt-icon-sd_storage: "\e9e8";
$trvt-icon-settings_system_daydream: "\e9e9";
$trvt-icon-signal_cellular_4_bar: "\e9ea";
$trvt-icon-signal_cellular_connected_no_internet_4_bar: "\e9eb";
$trvt-icon-signal_cellular_null: "\e9ec";
$trvt-icon-signal_cellular_off: "\e9ed";
$trvt-icon-signal_wifi_4_bar: "\e9ee";
$trvt-icon-signal_wifi_4_bar_lock: "\e9ef";
$trvt-icon-signal_wifi_off: "\e9f0";
$trvt-icon-storage: "\e9f1";
$trvt-icon-usb: "\e9f2";
$trvt-icon-wifi_lock: "\e9f3";
$trvt-icon-wifi_tethering: "\e9f4";
$trvt-icon-add_to_home_screen: "\e9f5";
$trvt-icon-device_thermostat: "\e9f6";
$trvt-icon-mobile_friendly: "\e9f7";
$trvt-icon-mobile_off: "\e9f8";
$trvt-icon-signal_cellular_alt: "\e9f9";
$trvt-icon-attach_file: "\e9fa";
$trvt-icon-attach_money: "\e9fb";
$trvt-icon-border_all: "\e9fc";
$trvt-icon-border_bottom: "\e9fd";
$trvt-icon-border_clear: "\e9fe";
$trvt-icon-border_color: "\e9ff";
$trvt-icon-border_horizontal: "\ea00";
$trvt-icon-border_inner: "\ea01";
$trvt-icon-border_left: "\ea02";
$trvt-icon-border_outer: "\ea03";
$trvt-icon-border_right: "\ea04";
$trvt-icon-border_style: "\ea05";
$trvt-icon-border_top: "\ea06";
$trvt-icon-border_vertical: "\ea07";
$trvt-icon-format_align_center: "\ea08";
$trvt-icon-format_align_justify: "\ea09";
$trvt-icon-format_align_left: "\ea0a";
$trvt-icon-format_align_right: "\ea0b";
$trvt-icon-format_bold: "\ea0c";
$trvt-icon-format_clear: "\ea0d";
$trvt-icon-format_color_fill: "\ea0e";
$trvt-icon-format_color_reset: "\ea0f";
$trvt-icon-format_color_text: "\ea10";
$trvt-icon-format_indent_decrease: "\ea11";
$trvt-icon-format_indent_increase: "\ea12";
$trvt-icon-format_italic: "\ea13";
$trvt-icon-format_line_spacing: "\ea14";
$trvt-icon-format_list_bulleted: "\ea15";
$trvt-icon-format_list_numbered: "\ea16";
$trvt-icon-format_paint: "\ea17";
$trvt-icon-format_quote: "\ea18";
$trvt-icon-format_size: "\ea19";
$trvt-icon-format_strikethrough: "\ea1a";
$trvt-icon-format_textdirection_l_to_r: "\ea1b";
$trvt-icon-format_textdirection_r_to_l: "\ea1c";
$trvt-icon-format_underlined: "\ea1d";
$trvt-icon-functions: "\ea1e";
$trvt-icon-insert_chart: "\ea1f";
$trvt-icon-insert_comment: "\ea20";
$trvt-icon-insert_drive_file: "\ea21";
$trvt-icon-insert_emoticon: "\ea22";
$trvt-icon-insert_invitation: "\ea23";
$trvt-icon-insert_photo: "\ea24";
$trvt-icon-mode_comment: "\ea25";
$trvt-icon-publish: "\ea26";
$trvt-icon-space_bar: "\ea27";
$trvt-icon-strikethrough_s: "\ea28";
$trvt-icon-vertical_align_bottom: "\ea29";
$trvt-icon-vertical_align_center: "\ea2a";
$trvt-icon-vertical_align_top: "\ea2b";
$trvt-icon-wrap_text: "\ea2c";
$trvt-icon-money_off: "\ea2d";
$trvt-icon-drag_handle: "\ea2e";
$trvt-icon-format_shapes: "\ea2f";
$trvt-icon-highlight: "\ea30";
$trvt-icon-linear_scale: "\ea31";
$trvt-icon-short_text: "\ea32";
$trvt-icon-text_fields: "\ea33";
$trvt-icon-monetization_on: "\ea34";
$trvt-icon-title: "\ea35";
$trvt-icon-table_chart: "\ea36";
$trvt-icon-add_comment: "\ea37";
$trvt-icon-format_list_numbered_rtl: "\ea38";
$trvt-icon-scatter_plot: "\ea39";
$trvt-icon-score: "\ea3a";
$trvt-icon-insert_chart_outlined: "\ea3b";
$trvt-icon-bar_chart: "\ea3c";
$trvt-icon-notes: "\ea3d";
$trvt-icon-attachment: "\ea3e";
$trvt-icon-cloud: "\ea3f";
$trvt-icon-cloud_circle: "\ea40";
$trvt-icon-cloud_done: "\ea41";
$trvt-icon-cloud_download: "\ea42";
$trvt-icon-cloud_off: "\ea43";
$trvt-icon-cloud_queue: "\ea44";
$trvt-icon-cloud_upload: "\ea45";
$trvt-icon-file_download: "\ea46";
$trvt-icon-file_upload: "\ea47";
$trvt-icon-folder: "\ea48";
$trvt-icon-folder_open: "\ea49";
$trvt-icon-folder_shared: "\ea4a";
$trvt-icon-create_new_folder: "\ea4b";
$trvt-icon-cast: "\ea4c";
$trvt-icon-cast_connected: "\ea4d";
$trvt-icon-computer: "\ea4e";
$trvt-icon-desktop_mac: "\ea4f";
$trvt-icon-desktop_windows: "\ea50";
$trvt-icon-developer_board: "\ea51";
$trvt-icon-dock: "\ea52";
$trvt-icon-headset: "\ea53";
$trvt-icon-headset_mic: "\ea54";
$trvt-icon-keyboard: "\ea55";
$trvt-icon-keyboard_arrow_down: "\ea56";
$trvt-icon-keyboard_arrow_left: "\ea57";
$trvt-icon-keyboard_arrow_right: "\ea58";
$trvt-icon-keyboard_arrow_up: "\ea59";
$trvt-icon-keyboard_backspace: "\ea5a";
$trvt-icon-keyboard_capslock: "\ea5b";
$trvt-icon-keyboard_hide: "\ea5c";
$trvt-icon-keyboard_return: "\ea5d";
$trvt-icon-keyboard_tab: "\ea5e";
$trvt-icon-keyboard_voice: "\ea5f";
$trvt-icon-laptop_chromebook: "\ea60";
$trvt-icon-laptop_mac: "\ea61";
$trvt-icon-laptop_windows: "\ea62";
$trvt-icon-memory: "\ea63";
$trvt-icon-mouse: "\ea64";
$trvt-icon-phone_android: "\ea65";
$trvt-icon-phone_iphone: "\ea66";
$trvt-icon-phonelink_off: "\ea67";
$trvt-icon-router: "\ea68";
$trvt-icon-scanner: "\ea69";
$trvt-icon-security: "\ea6a";
$trvt-icon-sim_card: "\ea6b";
$trvt-icon-speaker: "\ea6c";
$trvt-icon-speaker_group: "\ea6d";
$trvt-icon-tablet: "\ea6e";
$trvt-icon-tablet_android: "\ea6f";
$trvt-icon-tablet_mac: "\ea70";
$trvt-icon-toys: "\ea71";
$trvt-icon-tv: "\ea72";
$trvt-icon-watch: "\ea73";
$trvt-icon-device_hub: "\ea74";
$trvt-icon-power_input: "\ea75";
$trvt-icon-devices_other: "\ea76";
$trvt-icon-videogame_asset: "\ea77";
$trvt-icon-device_unknown: "\ea78";
$trvt-icon-headset_off: "\ea79";
$trvt-icon-adjust: "\ea7a";
$trvt-icon-assistant: "\ea7b";
$trvt-icon-audiotrack: "\ea7c";
$trvt-icon-blur_circular: "\ea7d";
$trvt-icon-blur_linear: "\ea7e";
$trvt-icon-blur_off: "\ea7f";
$trvt-icon-blur_on: "\ea80";
$trvt-icon-brightness_1: "\ea81";
$trvt-icon-brightness_2: "\ea82";
$trvt-icon-brightness_3: "\ea83";
$trvt-icon-brightness_4: "\ea84";
$trvt-icon-broken_image: "\ea85";
$trvt-icon-brush: "\ea86";
$trvt-icon-camera: "\ea87";
$trvt-icon-camera_alt: "\ea88";
$trvt-icon-camera_front: "\ea89";
$trvt-icon-camera_rear: "\ea8a";
$trvt-icon-camera_roll: "\ea8b";
$trvt-icon-center_focus_strong: "\ea8c";
$trvt-icon-center_focus_weak: "\ea8d";
$trvt-icon-collections: "\ea8e";
$trvt-icon-color_lens: "\ea8f";
$trvt-icon-colorize: "\ea90";
$trvt-icon-compare: "\ea91";
$trvt-icon-control_point_duplicate: "\ea92";
$trvt-icon-crop_16_9: "\ea93";
$trvt-icon-crop_3_2: "\ea94";
$trvt-icon-crop: "\ea95";
$trvt-icon-crop_5_4: "\ea96";
$trvt-icon-crop_7_5: "\ea97";
$trvt-icon-crop_din: "\ea98";
$trvt-icon-crop_free: "\ea99";
$trvt-icon-crop_original: "\ea9a";
$trvt-icon-crop_portrait: "\ea9b";
$trvt-icon-crop_square: "\ea9c";
$trvt-icon-dehaze: "\ea9d";
$trvt-icon-details: "\ea9e";
$trvt-icon-exposure: "\ea9f";
$trvt-icon-exposure_neg_1: "\eaa0";
$trvt-icon-exposure_neg_2: "\eaa1";
$trvt-icon-exposure_plus_1: "\eaa2";
$trvt-icon-exposure_plus_2: "\eaa3";
$trvt-icon-exposure_zero: "\eaa4";
$trvt-icon-filter_1: "\eaa5";
$trvt-icon-filter_2: "\eaa6";
$trvt-icon-filter_3: "\eaa7";
$trvt-icon-filter: "\eaa8";
$trvt-icon-filter_4: "\eaa9";
$trvt-icon-filter_5: "\eaaa";
$trvt-icon-filter_6: "\eaab";
$trvt-icon-filter_7: "\eaac";
$trvt-icon-filter_8: "\eaad";
$trvt-icon-filter_9: "\eaae";
$trvt-icon-filter_9_plus: "\eaaf";
$trvt-icon-filter_b_and_w: "\eab0";
$trvt-icon-filter_center_focus: "\eab1";
$trvt-icon-filter_drama: "\eab2";
$trvt-icon-filter_frames: "\eab3";
$trvt-icon-filter_hdr: "\eab4";
$trvt-icon-filter_none: "\eab5";
$trvt-icon-filter_tilt_shift: "\eab6";
$trvt-icon-filter_vintage: "\eab7";
$trvt-icon-flare: "\eab8";
$trvt-icon-flash_auto: "\eab9";
$trvt-icon-flash_off: "\eaba";
$trvt-icon-flash_on: "\eabb";
$trvt-icon-flip: "\eabc";
$trvt-icon-gradient: "\eabd";
$trvt-icon-grain: "\eabe";
$trvt-icon-grid_off: "\eabf";
$trvt-icon-grid_on: "\eac0";
$trvt-icon-hdr_off: "\eac1";
$trvt-icon-hdr_on: "\eac2";
$trvt-icon-hdr_strong: "\eac3";
$trvt-icon-hdr_weak: "\eac4";
$trvt-icon-healing: "\eac5";
$trvt-icon-image_aspect_ratio: "\eac6";
$trvt-icon-iso: "\eac7";
$trvt-icon-leak_add: "\eac8";
$trvt-icon-leak_remove: "\eac9";
$trvt-icon-lens: "\eaca";
$trvt-icon-looks_3: "\eacb";
$trvt-icon-looks: "\eacc";
$trvt-icon-looks_4: "\eacd";
$trvt-icon-looks_5: "\eace";
$trvt-icon-looks_6: "\eacf";
$trvt-icon-looks_one: "\ead0";
$trvt-icon-looks_two: "\ead1";
$trvt-icon-loupe: "\ead2";
$trvt-icon-monochrome_photos: "\ead3";
$trvt-icon-music_note: "\ead4";
$trvt-icon-nature: "\ead5";
$trvt-icon-nature_people: "\ead6";
$trvt-icon-navigate_before: "\ead7";
$trvt-icon-navigate_next: "\ead8";
$trvt-icon-panorama: "\ead9";
$trvt-icon-panorama_fisheye: "\eada";
$trvt-icon-panorama_horizontal: "\eadb";
$trvt-icon-panorama_vertical: "\eadc";
$trvt-icon-panorama_wide_angle: "\eadd";
$trvt-icon-photo_album: "\eade";
$trvt-icon-picture_as_pdf: "\eadf";
$trvt-icon-portrait: "\eae0";
$trvt-icon-remove_red_eye: "\eae1";
$trvt-icon-rotate_90_degrees_ccw: "\eae2";
$trvt-icon-rotate_left: "\eae3";
$trvt-icon-rotate_right: "\eae4";
$trvt-icon-slideshow: "\eae5";
$trvt-icon-straighten: "\eae6";
$trvt-icon-style: "\eae7";
$trvt-icon-switch_camera: "\eae8";
$trvt-icon-switch_video: "\eae9";
$trvt-icon-texture: "\eaea";
$trvt-icon-timelapse: "\eaeb";
$trvt-icon-timer_10: "\eaec";
$trvt-icon-timer_3: "\eaed";
$trvt-icon-timer: "\eaee";
$trvt-icon-timer_off: "\eaef";
$trvt-icon-tonality: "\eaf0";
$trvt-icon-transform: "\eaf1";
$trvt-icon-tune: "\eaf2";
$trvt-icon-view_comfy: "\eaf3";
$trvt-icon-view_compact: "\eaf4";
$trvt-icon-wb_auto: "\eaf5";
$trvt-icon-wb_cloudy: "\eaf6";
$trvt-icon-wb_incandescent: "\eaf7";
$trvt-icon-wb_sunny: "\eaf8";
$trvt-icon-collections_bookmark: "\eaf9";
$trvt-icon-photo_size_select_actual: "\eafa";
$trvt-icon-photo_size_select_large: "\eafb";
$trvt-icon-photo_size_select_small: "\eafc";
$trvt-icon-vignette: "\eafd";
$trvt-icon-wb_iridescent: "\eafe";
$trvt-icon-crop_rotate: "\eaff";
$trvt-icon-linked_camera: "\eb00";
$trvt-icon-add_a_photo: "\eb01";
$trvt-icon-movie_filter: "\eb02";
$trvt-icon-photo_filter: "\eb03";
$trvt-icon-burst_mode: "\eb04";
$trvt-icon-shutter_speed: "\eb05";
$trvt-icon-add_photo_alternate: "\eb06";
$trvt-icon-image_search: "\eb07";
$trvt-icon-music_off: "\eb08";
$trvt-icon-beenhere: "\eb09";
$trvt-icon-directions: "\eb0a";
$trvt-icon-directions_bike: "\eb0b";
$trvt-icon-directions_bus: "\eb0c";
$trvt-icon-directions_car: "\eb0d";
$trvt-icon-directions_ferry: "\eb0e";
$trvt-icon-directions_subway: "\eb0f";
$trvt-icon-directions_train: "\eb10";
$trvt-icon-directions_walk: "\eb11";
$trvt-icon-hotel: "\eb12";
$trvt-icon-layers: "\eb13";
$trvt-icon-layers_clear: "\eb14";
$trvt-icon-local_atm: "\eb15";
$trvt-icon-local_attraction: "\eb16";
$trvt-icon-local_bar: "\eb17";
$trvt-icon-local_cafe: "\eb18";
$trvt-icon-local_car_wash: "\eb19";
$trvt-icon-local_convenience_store: "\eb1a";
$trvt-icon-local_drink: "\eb1b";
$trvt-icon-local_florist: "\eb1c";
$trvt-icon-local_gas_station: "\eb1d";
$trvt-icon-local_grocery_store: "\eb1e";
$trvt-icon-local_hospital: "\eb1f";
$trvt-icon-local_laundry_service: "\eb20";
$trvt-icon-local_library: "\eb21";
$trvt-icon-local_mall: "\eb22";
$trvt-icon-local_movies: "\eb23";
$trvt-icon-local_offer: "\eb24";
$trvt-icon-local_parking: "\eb25";
$trvt-icon-local_pharmacy: "\eb26";
$trvt-icon-local_pizza: "\eb27";
$trvt-icon-local_printshop: "\eb28";
$trvt-icon-local_restaurant: "\eb29";
$trvt-icon-local_shipping: "\eb2a";
$trvt-icon-local_taxi: "\eb2b";
$trvt-icon-location_history: "\eb2c";
$trvt-icon-map: "\eb2d";
$trvt-icon-navigation: "\eb2e";
$trvt-icon-pin_drop: "\eb2f";
$trvt-icon-rate_review: "\eb30";
$trvt-icon-satellite: "\eb31";
$trvt-icon-store_mall_directory: "\eb32";
$trvt-icon-traffic: "\eb33";
$trvt-icon-directions_run: "\eb34";
$trvt-icon-add_location: "\eb35";
$trvt-icon-edit_location: "\eb36";
$trvt-icon-near_me: "\eb37";
$trvt-icon-person_pin_circle: "\eb38";
$trvt-icon-zoom_out_map: "\eb39";
$trvt-icon-restaurant: "\eb3a";
$trvt-icon-ev_station: "\eb3b";
$trvt-icon-streetview: "\eb3c";
$trvt-icon-subway: "\eb3d";
$trvt-icon-train: "\eb3e";
$trvt-icon-tram: "\eb3f";
$trvt-icon-transfer_within_a_station: "\eb40";
$trvt-icon-atm: "\eb41";
$trvt-icon-category: "\eb42";
$trvt-icon-not_listed_location: "\eb43";
$trvt-icon-departure_board: "\eb44";
$trvt-icon-360: "\eb45";
$trvt-icon-edit_attributes: "\eb46";
$trvt-icon-transit_enterexit: "\eb47";
$trvt-icon-fastfood: "\eb48";
$trvt-icon-trip_origin: "\eb49";
$trvt-icon-compass_calibration: "\eb4a";
$trvt-icon-money: "\eb4b";
$trvt-icon-apps: "\eb4c";
$trvt-icon-arrow_back: "\eb4d";
$trvt-icon-arrow_drop_down: "\eb4e";
$trvt-icon-arrow_drop_down_circle: "\eb4f";
$trvt-icon-arrow_drop_up: "\eb50";
$trvt-icon-arrow_forward: "\eb51";
$trvt-icon-cancel: "\eb52";
$trvt-icon-check: "\eb53";
$trvt-icon-expand_less: "\eb54";
$trvt-icon-expand_more: "\eb55";
$trvt-icon-fullscreen: "\eb56";
$trvt-icon-fullscreen_exit: "\eb57";
$trvt-icon-menu: "\eb58";
$trvt-icon-keyboard_control: "\eb59";
$trvt-icon-more_vert: "\eb5a";
$trvt-icon-refresh: "\eb5b";
$trvt-icon-unfold_less: "\eb5c";
$trvt-icon-unfold_more: "\eb5d";
$trvt-icon-arrow_upward: "\eb5e";
$trvt-icon-subdirectory_arrow_left: "\eb5f";
$trvt-icon-subdirectory_arrow_right: "\eb60";
$trvt-icon-arrow_downward: "\eb61";
$trvt-icon-first_page: "\eb62";
$trvt-icon-last_page: "\eb63";
$trvt-icon-arrow_left: "\eb64";
$trvt-icon-arrow_right: "\eb65";
$trvt-icon-arrow_back_ios: "\eb66";
$trvt-icon-arrow_forward_ios: "\eb67";
$trvt-icon-adb: "\eb68";
$trvt-icon-disc_full: "\eb69";
$trvt-icon-do_not_disturb_alt: "\eb6a";
$trvt-icon-drive_eta: "\eb6b";
$trvt-icon-event_available: "\eb6c";
$trvt-icon-event_busy: "\eb6d";
$trvt-icon-event_note: "\eb6e";
$trvt-icon-folder_special: "\eb6f";
$trvt-icon-mms: "\eb70";
$trvt-icon-more: "\eb71";
$trvt-icon-network_locked: "\eb72";
$trvt-icon-phone_bluetooth_speaker: "\eb73";
$trvt-icon-phone_forwarded: "\eb74";
$trvt-icon-phone_in_talk: "\eb75";
$trvt-icon-phone_locked: "\eb76";
$trvt-icon-phone_missed: "\eb77";
$trvt-icon-phone_paused: "\eb78";
$trvt-icon-sim_card_alert: "\eb79";
$trvt-icon-sms_failed: "\eb7a";
$trvt-icon-sync_disabled: "\eb7b";
$trvt-icon-sync_problem: "\eb7c";
$trvt-icon-system_update: "\eb7d";
$trvt-icon-tap_and_play: "\eb7e";
$trvt-icon-vibration: "\eb7f";
$trvt-icon-voice_chat: "\eb80";
$trvt-icon-vpn_lock: "\eb81";
$trvt-icon-airline_seat_flat: "\eb82";
$trvt-icon-airline_seat_flat_angled: "\eb83";
$trvt-icon-airline_seat_individual_suite: "\eb84";
$trvt-icon-airline_seat_legroom_extra: "\eb85";
$trvt-icon-airline_seat_legroom_normal: "\eb86";
$trvt-icon-airline_seat_legroom_reduced: "\eb87";
$trvt-icon-airline_seat_recline_extra: "\eb88";
$trvt-icon-airline_seat_recline_normal: "\eb89";
$trvt-icon-confirmation_number: "\eb8a";
$trvt-icon-live_tv: "\eb8b";
$trvt-icon-ondemand_video: "\eb8c";
$trvt-icon-personal_video: "\eb8d";
$trvt-icon-power: "\eb8e";
$trvt-icon-wc: "\eb8f";
$trvt-icon-wifi: "\eb90";
$trvt-icon-enhanced_encryption: "\eb91";
$trvt-icon-network_check: "\eb92";
$trvt-icon-no_encryption: "\eb93";
$trvt-icon-rv_hookup: "\eb94";
$trvt-icon-do_not_disturb_off: "\eb95";
$trvt-icon-priority_high: "\eb96";
$trvt-icon-power_off: "\eb97";
$trvt-icon-tv_off: "\eb98";
$trvt-icon-wifi_off: "\eb99";
$trvt-icon-phone_callback: "\eb9a";
$trvt-icon-pie_chart: "\eb9b";
$trvt-icon-pie_chart_outlined: "\eb9c";
$trvt-icon-bubble_chart: "\eb9d";
$trvt-icon-multiline_chart: "\eb9e";
$trvt-icon-show_chart: "\eb9f";
$trvt-icon-cake: "\eba0";
$trvt-icon-group: "\eba1";
$trvt-icon-group_add: "\eba2";
$trvt-icon-location_city: "\eba3";
$trvt-icon-mood_bad: "\eba4";
$trvt-icon-notifications: "\eba5";
$trvt-icon-notifications_none: "\eba6";
$trvt-icon-notifications_off: "\eba7";
$trvt-icon-notifications_on: "\eba8";
$trvt-icon-notifications_paused: "\eba9";
$trvt-icon-pages: "\ebaa";
$trvt-icon-party_mode: "\ebab";
$trvt-icon-people_outline: "\ebac";
$trvt-icon-person: "\ebad";
$trvt-icon-person_add: "\ebae";
$trvt-icon-person_outline: "\ebaf";
$trvt-icon-plus_one: "\ebb0";
$trvt-icon-public: "\ebb1";
$trvt-icon-school: "\ebb2";
$trvt-icon-share: "\ebb3";
$trvt-icon-whatshot: "\ebb4";
$trvt-icon-sentiment_dissatisfied: "\ebb5";
$trvt-icon-sentiment_neutral: "\ebb6";
$trvt-icon-sentiment_satisfied: "\ebb7";
$trvt-icon-sentiment_very_dissatisfied: "\ebb8";
$trvt-icon-sentiment_very_satisfied: "\ebb9";
$trvt-icon-thumb_down_alt: "\ebba";
$trvt-icon-thumb_up_alt: "\ebbb";
$trvt-icon-check_box: "\ebbc";
$trvt-icon-check_box_outline_blank: "\ebbd";
$trvt-icon-radio_button_on: "\ebbe";
$trvt-icon-star: "\ebbf";
$trvt-icon-star_half: "\ebc0";
$trvt-icon-star_outline: "\ebc1";
$trvt-icon-3d_rotation: "\ebc2";
$trvt-icon-accessibility: "\ebc3";
$trvt-icon-account_balance: "\ebc4";
$trvt-icon-account_balance_wallet: "\ebc5";
$trvt-icon-account_box: "\ebc6";
$trvt-icon-account_circle: "\ebc7";
$trvt-icon-add_shopping_cart: "\ebc8";
$trvt-icon-alarm_off: "\ebc9";
$trvt-icon-alarm_on: "\ebca";
$trvt-icon-android: "\ebcb";
$trvt-icon-announcement: "\ebcc";
$trvt-icon-aspect_ratio: "\ebcd";
$trvt-icon-assignment: "\ebce";
$trvt-icon-assignment_ind: "\ebcf";
$trvt-icon-assignment_late: "\ebd0";
$trvt-icon-assignment_return: "\ebd1";
$trvt-icon-assignment_returned: "\ebd2";
$trvt-icon-assignment_turned_in: "\ebd3";
$trvt-icon-autorenew: "\ebd4";
$trvt-icon-book: "\ebd5";
$trvt-icon-bookmark: "\ebd6";
$trvt-icon-bookmark_outline: "\ebd7";
$trvt-icon-bug_report: "\ebd8";
$trvt-icon-build: "\ebd9";
$trvt-icon-cached: "\ebda";
$trvt-icon-change_history: "\ebdb";
$trvt-icon-check_circle: "\ebdc";
$trvt-icon-chrome_reader_mode: "\ebdd";
$trvt-icon-code: "\ebde";
$trvt-icon-credit_card: "\ebdf";
$trvt-icon-dashboard: "\ebe0";
$trvt-icon-delete: "\ebe1";
$trvt-icon-description: "\ebe2";
$trvt-icon-dns: "\ebe3";
$trvt-icon-done: "\ebe4";
$trvt-icon-done_all: "\ebe5";
$trvt-icon-exit_to_app: "\ebe6";
$trvt-icon-explore: "\ebe7";
$trvt-icon-extension: "\ebe8";
$trvt-icon-face: "\ebe9";
$trvt-icon-favorite: "\ebea";
$trvt-icon-favorite_outline: "\ebeb";
$trvt-icon-find_in_page: "\ebec";
$trvt-icon-find_replace: "\ebed";
$trvt-icon-flip_to_back: "\ebee";
$trvt-icon-flip_to_front: "\ebef";
$trvt-icon-group_work: "\ebf0";
$trvt-icon-help: "\ebf1";
$trvt-icon-highlight_remove: "\ebf2";
$trvt-icon-history: "\ebf3";
$trvt-icon-home: "\ebf4";
$trvt-icon-hourglass_empty: "\ebf5";
$trvt-icon-hourglass_full: "\ebf6";
$trvt-icon-https: "\ebf7";
$trvt-icon-info: "\ebf8";
$trvt-icon-info_outline: "\ebf9";
$trvt-icon-input: "\ebfa";
$trvt-icon-invert_colors_on: "\ebfb";
$trvt-icon-label: "\ebfc";
$trvt-icon-label_outline: "\ebfd";
$trvt-icon-language: "\ebfe";
$trvt-icon-launch: "\ebff";
$trvt-icon-list: "\ec00";
$trvt-icon-lock_open: "\ec01";
$trvt-icon-lock_outline: "\ec02";
$trvt-icon-loyalty: "\ec03";
$trvt-icon-markunread_mailbox: "\ec04";
$trvt-icon-note_add: "\ec05";
$trvt-icon-open_in_browser: "\ec06";
$trvt-icon-open_with: "\ec07";
$trvt-icon-pageview: "\ec08";
$trvt-icon-perm_camera_mic: "\ec09";
$trvt-icon-perm_contact_calendar: "\ec0a";
$trvt-icon-perm_data_setting: "\ec0b";
$trvt-icon-perm_device_information: "\ec0c";
$trvt-icon-perm_media: "\ec0d";
$trvt-icon-perm_phone_msg: "\ec0e";
$trvt-icon-perm_scan_wifi: "\ec0f";
$trvt-icon-picture_in_picture: "\ec10";
$trvt-icon-polymer: "\ec11";
$trvt-icon-power_settings_new: "\ec12";
$trvt-icon-receipt: "\ec13";
$trvt-icon-redeem: "\ec14";
$trvt-icon-search: "\ec15";
$trvt-icon-settings: "\ec16";
$trvt-icon-settings_applications: "\ec17";
$trvt-icon-settings_backup_restore: "\ec18";
$trvt-icon-settings_bluetooth: "\ec19";
$trvt-icon-settings_cell: "\ec1a";
$trvt-icon-settings_display: "\ec1b";
$trvt-icon-settings_ethernet: "\ec1c";
$trvt-icon-settings_input_antenna: "\ec1d";
$trvt-icon-settings_input_component: "\ec1e";
$trvt-icon-settings_input_hdmi: "\ec1f";
$trvt-icon-settings_input_svideo: "\ec20";
$trvt-icon-settings_overscan: "\ec21";
$trvt-icon-settings_phone: "\ec22";
$trvt-icon-settings_power: "\ec23";
$trvt-icon-settings_remote: "\ec24";
$trvt-icon-settings_voice: "\ec25";
$trvt-icon-shop: "\ec26";
$trvt-icon-shop_two: "\ec27";
$trvt-icon-shopping_basket: "\ec28";
$trvt-icon-speaker_notes: "\ec29";
$trvt-icon-spellcheck: "\ec2a";
$trvt-icon-stars: "\ec2b";
$trvt-icon-subject: "\ec2c";
$trvt-icon-supervisor_account: "\ec2d";
$trvt-icon-swap_horiz: "\ec2e";
$trvt-icon-swap_vert: "\ec2f";
$trvt-icon-swap_vertical_circle: "\ec30";
$trvt-icon-system_update_tv: "\ec31";
$trvt-icon-tab: "\ec32";
$trvt-icon-tab_unselected: "\ec33";
$trvt-icon-thumb_down: "\ec34";
$trvt-icon-thumb_up: "\ec35";
$trvt-icon-thumbs_up_down: "\ec36";
$trvt-icon-toc: "\ec37";
$trvt-icon-today: "\ec38";
$trvt-icon-toll: "\ec39";
$trvt-icon-track_changes: "\ec3a";
$trvt-icon-translate: "\ec3b";
$trvt-icon-trending_down: "\ec3c";
$trvt-icon-trending_neutral: "\ec3d";
$trvt-icon-trending_up: "\ec3e";
$trvt-icon-verified_user: "\ec3f";
$trvt-icon-view_agenda: "\ec40";
$trvt-icon-view_array: "\ec41";
$trvt-icon-view_carousel: "\ec42";
$trvt-icon-view_column: "\ec43";
$trvt-icon-view_day: "\ec44";
$trvt-icon-view_headline: "\ec45";
$trvt-icon-view_list: "\ec46";
$trvt-icon-view_module: "\ec47";
$trvt-icon-view_quilt: "\ec48";
$trvt-icon-view_stream: "\ec49";
$trvt-icon-view_week: "\ec4a";
$trvt-icon-visibility_off: "\ec4b";
$trvt-icon-card_membership: "\ec4c";
$trvt-icon-card_travel: "\ec4d";
$trvt-icon-work: "\ec4e";
$trvt-icon-youtube_searched_for: "\ec4f";
$trvt-icon-eject: "\ec50";
$trvt-icon-camera_enhance: "\ec51";
$trvt-icon-help_outline: "\ec52";
$trvt-icon-reorder: "\ec53";
$trvt-icon-zoom_in: "\ec54";
$trvt-icon-zoom_out: "\ec55";
$trvt-icon-http: "\ec56";
$trvt-icon-event_seat: "\ec57";
$trvt-icon-flight_land: "\ec58";
$trvt-icon-flight_takeoff: "\ec59";
$trvt-icon-play_for_work: "\ec5a";
$trvt-icon-gif: "\ec5b";
$trvt-icon-indeterminate_check_box: "\ec5c";
$trvt-icon-offline_pin: "\ec5d";
$trvt-icon-all_out: "\ec5e";
$trvt-icon-copyright: "\ec5f";
$trvt-icon-fingerprint: "\ec60";
$trvt-icon-gavel: "\ec61";
$trvt-icon-lightbulb_outline: "\ec62";
$trvt-icon-picture_in_picture_alt: "\ec63";
$trvt-icon-important_devices: "\ec64";
$trvt-icon-touch_app: "\ec65";
$trvt-icon-accessible: "\ec66";
$trvt-icon-compare_arrows: "\ec67";
$trvt-icon-date_range: "\ec68";
$trvt-icon-donut_large: "\ec69";
$trvt-icon-donut_small: "\ec6a";
$trvt-icon-line_style: "\ec6b";
$trvt-icon-line_weight: "\ec6c";
$trvt-icon-motorcycle: "\ec6d";
$trvt-icon-opacity: "\ec6e";
$trvt-icon-pets: "\ec6f";
$trvt-icon-pregnant_woman: "\ec70";
$trvt-icon-record_voice_over: "\ec71";
$trvt-icon-rounded_corner: "\ec72";
$trvt-icon-rowing: "\ec73";
$trvt-icon-timeline: "\ec74";
$trvt-icon-update: "\ec75";
$trvt-icon-watch_later: "\ec76";
$trvt-icon-pan_tool: "\ec77";
$trvt-icon-euro_symbol: "\ec78";
$trvt-icon-g_translate: "\ec79";
$trvt-icon-remove_shopping_cart: "\ec7a";
$trvt-icon-restore_page: "\ec7b";
$trvt-icon-speaker_notes_off: "\ec7c";
$trvt-icon-delete_forever: "\ec7d";
$trvt-icon-accessibility_new: "\ec7e";
$trvt-icon-check_circle_outline: "\ec7f";
$trvt-icon-delete_outline: "\ec80";
$trvt-icon-done_outline: "\ec81";
$trvt-icon-maximize: "\ec82";
$trvt-icon-minimize: "\ec83";
$trvt-icon-offline_bolt: "\ec84";
$trvt-icon-swap_horizontal_circle: "\ec85";
$trvt-icon-accessible_forward: "\ec86";
$trvt-icon-calendar_today: "\ec87";
$trvt-icon-calendar_view_day: "\ec88";
$trvt-icon-label_important: "\ec89";
$trvt-icon-restore_from_trash: "\ec8a";
$trvt-icon-supervised_user_circle: "\ec8b";
$trvt-icon-text_rotate_up: "\ec8c";
$trvt-icon-text_rotate_vertical: "\ec8d";
$trvt-icon-text_rotation_angledown: "\ec8e";
$trvt-icon-text_rotation_angleup: "\ec8f";
$trvt-icon-text_rotation_down: "\ec90";
$trvt-icon-text_rotation_none: "\ec91";
$trvt-icon-commute: "\ec92";
$trvt-icon-arrow_right_alt: "\ec93";
$trvt-icon-work_off: "\ec94";
$trvt-icon-work_outline: "\ec95";
$trvt-icon-drag_indicator: "\ec96";
$trvt-icon-horizontal_split: "\ec97";
$trvt-icon-label_important_outline: "\ec98";
$trvt-icon-vertical_split: "\ec99";
$trvt-icon-voice_over_off: "\ec9a";
$trvt-icon-segment: "\ec9b";
$trvt-icon-contact_support: "\ec9c";
$trvt-icon-compress: "\ec9d";
$trvt-icon-filter_list_alt: "\ec9e";
$trvt-icon-expand: "\ec9f";
$trvt-icon-edit_off: "\eca0";
$trvt-icon-10k: "\eca1";
$trvt-icon-10mp: "\eca2";
$trvt-icon-11mp: "\eca3";
$trvt-icon-12mp: "\eca4";
$trvt-icon-13mp: "\eca5";
$trvt-icon-14mp: "\eca6";
$trvt-icon-15mp: "\eca7";
$trvt-icon-16mp: "\eca8";
$trvt-icon-17mp: "\eca9";
$trvt-icon-18mp: "\ecaa";
$trvt-icon-19mp: "\ecab";
$trvt-icon-1k: "\ecac";
$trvt-icon-1k_plus: "\ecad";
$trvt-icon-20mp: "\ecae";
$trvt-icon-21mp: "\ecaf";
$trvt-icon-22mp: "\ecb0";
$trvt-icon-23mp: "\ecb1";
$trvt-icon-24mp: "\ecb2";
$trvt-icon-2k: "\ecb3";
$trvt-icon-2k_plus: "\ecb4";
$trvt-icon-2mp: "\ecb5";
$trvt-icon-3k: "\ecb6";
$trvt-icon-3k_plus: "\ecb7";
$trvt-icon-3mp: "\ecb8";
$trvt-icon-4k_plus: "\ecb9";
$trvt-icon-4mp: "\ecba";
$trvt-icon-5k: "\ecbb";
$trvt-icon-5k_plus: "\ecbc";
$trvt-icon-5mp: "\ecbd";
$trvt-icon-6k: "\ecbe";
$trvt-icon-6k_plus: "\ecbf";
$trvt-icon-6mp: "\ecc0";
$trvt-icon-7k: "\ecc1";
$trvt-icon-7k_plus: "\ecc2";
$trvt-icon-7mp: "\ecc3";
$trvt-icon-8k: "\ecc4";
$trvt-icon-8k_plus: "\ecc5";
$trvt-icon-8mp: "\ecc6";
$trvt-icon-9k: "\ecc7";
$trvt-icon-9k_plus: "\ecc8";
$trvt-icon-9mp: "\ecc9";
$trvt-icon-account_tree: "\ecca";
$trvt-icon-add_chart: "\eccb";
$trvt-icon-add_ic_call: "\eccc";
$trvt-icon-add_moderator: "\eccd";
$trvt-icon-all_inbox: "\ecce";
$trvt-icon-approval: "\eccf";
$trvt-icon-assistant_direction: "\ecd0";
$trvt-icon-assistant_navigation: "\ecd1";
$trvt-icon-bookmarks: "\ecd2";
$trvt-icon-bus_alert: "\ecd3";
$trvt-icon-cases: "\ecd4";
$trvt-icon-circle_notifications: "\ecd5";
$trvt-icon-closed_caption_off: "\ecd6";
$trvt-icon-connected_tv: "\ecd7";
$trvt-icon-dangerous: "\ecd8";
$trvt-icon-dashboard_customize: "\ecd9";
$trvt-icon-desktop_access_disabled: "\ecda";
$trvt-icon-drive_file_move_outline: "\ecdb";
$trvt-icon-drive_file_rename_outline: "\ecdc";
$trvt-icon-drive_folder_upload: "\ecdd";
$trvt-icon-duo: "\ecde";
$trvt-icon-explore_off: "\ecdf";
$trvt-icon-file_download_done: "\ece0";
$trvt-icon-rtt: "\ece1";
$trvt-icon-grid_view: "\ece2";
$trvt-icon-hail: "\ece3";
$trvt-icon-home_filled: "\ece4";
$trvt-icon-imagesearch_roller: "\ece5";
$trvt-icon-label_off: "\ece6";
$trvt-icon-library_add_check: "\ece7";
$trvt-icon-logout: "\ece8";
$trvt-icon-margin: "\ece9";
$trvt-icon-mark_as_unread: "\ecea";
$trvt-icon-menu_open: "\eceb";
$trvt-icon-mp: "\ecec";
$trvt-icon-offline_share: "\eced";
$trvt-icon-padding: "\ecee";
$trvt-icon-panorama_photosphere: "\ecef";
$trvt-icon-panorama_photosphere_select: "\ecf0";
$trvt-icon-person_add_disabled: "\ecf1";
$trvt-icon-phone_disabled: "\ecf2";
$trvt-icon-phone_enabled: "\ecf3";
$trvt-icon-pivot_table_chart: "\ecf4";
$trvt-icon-print_disabled: "\ecf5";
$trvt-icon-railway_alert: "\ecf6";
$trvt-icon-recommend: "\ecf7";
$trvt-icon-remove_done: "\ecf8";
$trvt-icon-remove_moderator: "\ecf9";
$trvt-icon-repeat_on: "\ecfa";
$trvt-icon-repeat_one_on: "\ecfb";
$trvt-icon-replay_circle_filled: "\ecfc";
$trvt-icon-reset_tv: "\ecfd";
$trvt-icon-sd: "\ecfe";
$trvt-icon-shield: "\ecff";
$trvt-icon-shuffle_on: "\ed00";
$trvt-icon-speed: "\ed01";
$trvt-icon-stacked_bar_chart: "\ed02";
$trvt-icon-stream: "\ed03";
$trvt-icon-swipe: "\ed04";
$trvt-icon-switch_account: "\ed05";
$trvt-icon-tag: "\ed06";
$trvt-icon-thumb_down_off_alt: "\ed07";
$trvt-icon-thumb_up_off_alt: "\ed08";
$trvt-icon-toggle_off: "\ed09";
$trvt-icon-toggle_on: "\ed0a";
$trvt-icon-two_wheeler: "\ed0b";
$trvt-icon-upload_file: "\ed0c";
$trvt-icon-view_in_ar: "\ed0d";
$trvt-icon-waterfall_chart: "\ed0e";
$trvt-icon-wb_shade: "\ed0f";
$trvt-icon-wb_twighlight: "\ed10";
$trvt-icon-home_work: "\ed11";
$trvt-icon-schedule_send: "\ed12";
$trvt-icon-bolt: "\ed13";
$trvt-icon-send_and_archive: "\ed14";
$trvt-icon-workspaces_filled: "\ed15";
$trvt-icon-file_present: "\ed16";
$trvt-icon-workspaces_outline: "\ed17";
$trvt-icon-fit_screen: "\ed18";
$trvt-icon-saved_search: "\ed19";
$trvt-icon-storefront: "\ed1a";
$trvt-icon-amp_stories: "\ed1b";
$trvt-icon-dynamic_feed: "\ed1c";
$trvt-icon-euro: "\ed1d";
$trvt-icon-height: "\ed1e";
$trvt-icon-policy: "\ed1f";
$trvt-icon-sync_alt: "\ed20";
$trvt-icon-menu_book: "\ed21";
$trvt-icon-emoji_flags: "\ed22";
$trvt-icon-emoji_food_beverage: "\ed23";
$trvt-icon-emoji_nature: "\ed24";
$trvt-icon-emoji_people: "\ed25";
$trvt-icon-emoji_symbols: "\ed26";
$trvt-icon-emoji_transportation: "\ed27";
$trvt-icon-post_add: "\ed28";
$trvt-icon-people_alt: "\ed29";
$trvt-icon-emoji_emotions: "\ed2a";
$trvt-icon-emoji_events: "\ed2b";
$trvt-icon-emoji_objects: "\ed2c";
$trvt-icon-sports_basketball: "\ed2d";
$trvt-icon-sports_cricket: "\ed2e";
$trvt-icon-sports_esports: "\ed2f";
$trvt-icon-sports_football: "\ed30";
$trvt-icon-sports_golf: "\ed31";
$trvt-icon-sports_hockey: "\ed32";
$trvt-icon-sports_mma: "\ed33";
$trvt-icon-sports_motorsports: "\ed34";
$trvt-icon-sports_rugby: "\ed35";
$trvt-icon-sports_soccer: "\ed36";
$trvt-icon-sports: "\ed37";
$trvt-icon-sports_volleyball: "\ed38";
$trvt-icon-sports_tennis: "\ed39";
$trvt-icon-sports_handball: "\ed3a";
$trvt-icon-sports_kabaddi: "\ed3b";
$trvt-icon-eco: "\ed3c";
$trvt-icon-museum: "\ed3d";
$trvt-icon-flip_camera_android: "\ed3e";
$trvt-icon-flip_camera_ios: "\ed3f";
$trvt-icon-cancel_schedule_send: "\ed40";
$trvt-icon-apartment: "\ed41";
$trvt-icon-bathtub: "\ed42";
$trvt-icon-deck: "\ed43";
$trvt-icon-fireplace: "\ed44";
$trvt-icon-house: "\ed45";
$trvt-icon-king_bed: "\ed46";
$trvt-icon-nights_stay: "\ed47";
$trvt-icon-outdoor_grill: "\ed48";
$trvt-icon-single_bed: "\ed49";
$trvt-icon-square_foot: "\ed4a";
$trvt-icon-double_arrow: "\ed4b";
$trvt-icon-sports_baseball: "\ed4c";
$trvt-icon-attractions: "\ed4d";
$trvt-icon-bakery_dining: "\ed4e";
$trvt-icon-breakfast_dining: "\ed4f";
$trvt-icon-car_rental: "\ed50";
$trvt-icon-car_repair: "\ed51";
$trvt-icon-dinner_dining: "\ed52";
$trvt-icon-dry_cleaning: "\ed53";
$trvt-icon-hardware: "\ed54";
$trvt-icon-liquor: "\ed55";
$trvt-icon-lunch_dining: "\ed56";
$trvt-icon-nightlife: "\ed57";
$trvt-icon-park: "\ed58";
$trvt-icon-ramen_dining: "\ed59";
$trvt-icon-celebration: "\ed5a";
$trvt-icon-theater_comedy: "\ed5b";
$trvt-icon-badge: "\ed5c";
$trvt-icon-festival: "\ed5d";
$trvt-icon-icecream: "\ed5e";
$trvt-icon-volunteer_activism: "\ed5f";
$trvt-icon-contactless: "\ed60";
$trvt-icon-delivery_dining: "\ed61";
$trvt-icon-brunch_dining: "\ed62";
$trvt-icon-takeout_dining: "\ed63";
$trvt-icon-ac_unit: "\ed64";
$trvt-icon-airport_shuttle: "\ed65";
$trvt-icon-all_inclusive: "\ed66";
$trvt-icon-beach_access: "\ed67";
$trvt-icon-business_center: "\ed68";
$trvt-icon-casino: "\ed69";
$trvt-icon-child_care: "\ed6a";
$trvt-icon-child_friendly: "\ed6b";
$trvt-icon-fitness_center: "\ed6c";
$trvt-icon-golf_course: "\ed6d";
$trvt-icon-hot_tub: "\ed6e";
$trvt-icon-kitchen: "\ed6f";
$trvt-icon-pool: "\ed70";
$trvt-icon-room_service: "\ed71";
$trvt-icon-smoke_free: "\ed72";
$trvt-icon-smoking_rooms: "\ed73";
$trvt-icon-spa: "\ed74";
$trvt-icon-no_meeting_room: "\ed75";
$trvt-icon-meeting_room: "\ed76";
$trvt-icon-goat: "\ed77";
$trvt-icon-5g: "\ed78";
$trvt-icon-ad_units: "\ed79";
$trvt-icon-add_business: "\ed7a";
$trvt-icon-add_location_alt: "\ed7b";
$trvt-icon-add_road: "\ed7c";
$trvt-icon-add_to_drive: "\ed7d";
$trvt-icon-addchart: "\ed7e";
$trvt-icon-admin_panel_settings: "\ed7f";
$trvt-icon-agriculture: "\ed80";
$trvt-icon-alt_route: "\ed81";
$trvt-icon-analytics: "\ed82";
$trvt-icon-anchor: "\ed83";
$trvt-icon-animation: "\ed84";
$trvt-icon-api: "\ed85";
$trvt-icon-app_blocking: "\ed86";
$trvt-icon-app_registration: "\ed87";
$trvt-icon-app_settings_alt: "\ed88";
$trvt-icon-architecture: "\ed89";
$trvt-icon-arrow_circle_down: "\ed8a";
$trvt-icon-arrow_circle_up: "\ed8b";
$trvt-icon-article: "\ed8c";
$trvt-icon-attach_email: "\ed8d";
$trvt-icon-auto_awesome: "\ed8e";
$trvt-icon-auto_awesome_mosaic: "\ed8f";
$trvt-icon-auto_awesome_motion: "\ed90";
$trvt-icon-auto_delete: "\ed91";
$trvt-icon-auto_fix_high: "\ed92";
$trvt-icon-auto_fix_normal: "\ed93";
$trvt-icon-auto_fix_off: "\ed94";
$trvt-icon-auto_stories: "\ed95";
$trvt-icon-baby_changing_station: "\ed96";
$trvt-icon-backpack: "\ed97";
$trvt-icon-backup_table: "\ed98";
$trvt-icon-batch_prediction: "\ed99";
$trvt-icon-bedtime: "\ed9a";
$trvt-icon-bento: "\ed9b";
$trvt-icon-bike_scooter: "\ed9c";
$trvt-icon-biotech: "\ed9d";
$trvt-icon-block_flipped: "\ed9e";
$trvt-icon-browser_not_supported: "\ed9f";
$trvt-icon-build_circle: "\eda0";
$trvt-icon-calculate: "\eda1";
$trvt-icon-campaign: "\eda2";
$trvt-icon-carpenter: "\eda3";
$trvt-icon-cast_for_education: "\eda4";
$trvt-icon-charging_station: "\eda5";
$trvt-icon-checkroom: "\eda6";
$trvt-icon-circle: "\eda7";
$trvt-icon-cleaning_services: "\eda8";
$trvt-icon-close_fullscreen: "\eda9";
$trvt-icon-closed_caption_disabled: "\edaa";
$trvt-icon-comment_bank: "\edab";
$trvt-icon-construction: "\edac";
$trvt-icon-corporate_fare: "\edad";
$trvt-icon-countertops: "\edae";
$trvt-icon-design_services: "\edaf";
$trvt-icon-directions_off: "\edb0";
$trvt-icon-dirty_lens: "\edb1";
$trvt-icon-do_not_step: "\edb2";
$trvt-icon-do_not_touch: "\edb3";
$trvt-icon-domain_verification: "\edb4";
$trvt-icon-drive_file_move: "\edb5";
$trvt-icon-dry: "\edb6";
$trvt-icon-dynamic_form: "\edb7";
$trvt-icon-east: "\edb8";
$trvt-icon-edit_road: "\edb9";
$trvt-icon-electric_bike: "\edba";
$trvt-icon-electric_car: "\edbb";
$trvt-icon-electric_moped: "\edbc";
$trvt-icon-electric_rickshaw: "\edbd";
$trvt-icon-electric_scooter: "\edbe";
$trvt-icon-electrical_services: "\edbf";
$trvt-icon-elevator: "\edc0";
$trvt-icon-engineering: "\edc1";
$trvt-icon-escalator: "\edc2";
$trvt-icon-escalator_warning: "\edc3";
$trvt-icon-face_retouching_natural: "\edc4";
$trvt-icon-fact_check: "\edc5";
$trvt-icon-family_restroom: "\edc6";
$trvt-icon-fence: "\edc7";
$trvt-icon-filter_alt: "\edc8";
$trvt-icon-fire_extinguisher: "\edc9";
$trvt-icon-flaky: "\edca";
$trvt-icon-food_bank: "\edcb";
$trvt-icon-forward_to_inbox: "\edcc";
$trvt-icon-foundation: "\edcd";
$trvt-icon-grading: "\edce";
$trvt-icon-grass: "\edcf";
$trvt-icon-handyman: "\edd0";
$trvt-icon-hdr_enhanced_select: "\edd1";
$trvt-icon-hearing_disabled: "\edd2";
$trvt-icon-help_center: "\edd3";
$trvt-icon-highlight_alt: "\edd4";
$trvt-icon-history_edu: "\edd5";
$trvt-icon-history_toggle_off: "\edd6";
$trvt-icon-home_repair_service: "\edd7";
$trvt-icon-horizontal_rule: "\edd8";
$trvt-icon-hourglass_bottom: "\edd9";
$trvt-icon-hourglass_disabled: "\edda";
$trvt-icon-hourglass_top: "\eddb";
$trvt-icon-house_siding: "\eddc";
$trvt-icon-hvac: "\eddd";
$trvt-icon-image_not_supported: "\edde";
$trvt-icon-insights: "\eddf";
$trvt-icon-integration_instructions: "\ede0";
$trvt-icon-ios_share: "\ede1";
$trvt-icon-legend_toggle: "\ede2";
$trvt-icon-local_fire_department: "\ede3";
$trvt-icon-local_police: "\ede4";
$trvt-icon-location_pin: "\ede5";
$trvt-icon-lock_clock: "\ede6";
$trvt-icon-login: "\ede7";
$trvt-icon-maps_ugc: "\ede8";
$trvt-icon-mark_chat_read: "\ede9";
$trvt-icon-mark_chat_unread: "\edea";
$trvt-icon-mark_email_read: "\edeb";
$trvt-icon-mark_email_unread: "\edec";
$trvt-icon-mediation: "\eded";
$trvt-icon-medical_services: "\edee";
$trvt-icon-mic_external_off: "\edef";
$trvt-icon-mic_external_on: "\edf0";
$trvt-icon-microwave: "\edf1";
$trvt-icon-military_tech: "\edf2";
$trvt-icon-miscellaneous_services: "\edf3";
$trvt-icon-model_training: "\edf4";
$trvt-icon-monitor: "\edf5";
$trvt-icon-moped: "\edf6";
$trvt-icon-more_time: "\edf7";
$trvt-icon-motion_photos_off: "\edf8";
$trvt-icon-motion_photos_on: "\edf9";
$trvt-icon-motion_photos_paused: "\edfa";
$trvt-icon-multiple_stop: "\edfb";
$trvt-icon-nat: "\edfc";
$trvt-icon-near_me_disabled: "\edfd";
$trvt-icon-next_plan: "\edfe";
$trvt-icon-night_shelter: "\edff";
$trvt-icon-nightlight_round: "\ee00";
$trvt-icon-no_cell: "\ee01";
$trvt-icon-no_drinks: "\ee02";
$trvt-icon-no_flash: "\ee03";
$trvt-icon-no_food: "\ee04";
$trvt-icon-no_meals: "\ee05";
$trvt-icon-no_photography: "\ee06";
$trvt-icon-no_stroller: "\ee07";
$trvt-icon-no_transfer: "\ee08";
$trvt-icon-north: "\ee09";
$trvt-icon-north_east: "\ee0a";
$trvt-icon-north_west: "\ee0b";
$trvt-icon-not_accessible: "\ee0c";
$trvt-icon-not_started: "\ee0d";
$trvt-icon-online_prediction: "\ee0e";
$trvt-icon-open_in_full: "\ee0f";
$trvt-icon-outbox: "\ee10";
$trvt-icon-outgoing_mail: "\ee11";
$trvt-icon-outlet: "\ee12";
$trvt-icon-panorama_horizontal_select: "\ee13";
$trvt-icon-panorama_vertical_select: "\ee14";
$trvt-icon-panorama_wide_angle_select: "\ee15";
$trvt-icon-payments: "\ee16";
$trvt-icon-pedal_bike: "\ee17";
$trvt-icon-pending: "\ee18";
$trvt-icon-pending_actions: "\ee19";
$trvt-icon-person_add_alt: "\ee1a";
$trvt-icon-person_add_alt_1: "\ee1b";
$trvt-icon-person_remove: "\ee1c";
$trvt-icon-person_search: "\ee1d";
$trvt-icon-pest_control: "\ee1e";
$trvt-icon-pest_control_rodent: "\ee1f";
$trvt-icon-photo_camera_back: "\ee20";
$trvt-icon-photo_camera_front: "\ee21";
$trvt-icon-plagiarism: "\ee22";
$trvt-icon-play_disabled: "\ee23";
$trvt-icon-plumbing: "\ee24";
$trvt-icon-point_of_sale: "\ee25";
$trvt-icon-preview: "\ee26";
$trvt-icon-privacy_tip: "\ee27";
$trvt-icon-psychology: "\ee28";
$trvt-icon-public_off: "\ee29";
$trvt-icon-push_pin: "\ee2a";
$trvt-icon-qr_code: "\ee2b";
$trvt-icon-qr_code_scanner: "\ee2c";
$trvt-icon-quickreply: "\ee2d";
$trvt-icon-read_more: "\ee2e";
$trvt-icon-receipt_long: "\ee2f";
$trvt-icon-request_quote: "\ee30";
$trvt-icon-rice_bowl: "\ee31";
$trvt-icon-roofing: "\ee32";
$trvt-icon-room_preferences: "\ee33";
$trvt-icon-rule: "\ee34";
$trvt-icon-rule_folder: "\ee35";
$trvt-icon-run_circle: "\ee36";
$trvt-icon-science: "\ee37";
$trvt-icon-screen_search_desktop: "\ee38";
$trvt-icon-search_off: "\ee39";
$trvt-icon-self_improvement: "\ee3a";
$trvt-icon-sensor_door: "\ee3b";
$trvt-icon-sensor_window: "\ee3c";
$trvt-icon-set_meal: "\ee3d";
$trvt-icon-shopping_bag: "\ee3e";
$trvt-icon-signal_cellular_0_bar: "\ee3f";
$trvt-icon-signal_wifi_0_bar: "\ee40";
$trvt-icon-smart_button: "\ee41";
$trvt-icon-snippet_folder: "\ee42";
$trvt-icon-soap: "\ee43";
$trvt-icon-source: "\ee44";
$trvt-icon-south: "\ee45";
$trvt-icon-south_east: "\ee46";
$trvt-icon-south_west: "\ee47";
$trvt-icon-sports_bar: "\ee48";
$trvt-icon-stairs: "\ee49";
$trvt-icon-star_outline1: "\ee4a";
$trvt-icon-star_rate: "\ee4b";
$trvt-icon-sticky_note_2: "\ee4c";
$trvt-icon-stop_circle: "\ee4d";
$trvt-icon-stroller: "\ee4e";
$trvt-icon-subscript: "\ee4f";
$trvt-icon-subtitles_off: "\ee50";
$trvt-icon-superscript: "\ee51";
$trvt-icon-support: "\ee52";
$trvt-icon-support_agent: "\ee53";
$trvt-icon-switch_left: "\ee54";
$trvt-icon-switch_right: "\ee55";
$trvt-icon-table_rows: "\ee56";
$trvt-icon-table_view: "\ee57";
$trvt-icon-tapas: "\ee58";
$trvt-icon-taxi_alert: "\ee59";
$trvt-icon-text_snippet: "\ee5a";
$trvt-icon-tour: "\ee5b";
$trvt-icon-tty: "\ee5c";
$trvt-icon-umbrella: "\ee5d";
$trvt-icon-upgrade: "\ee5e";
$trvt-icon-verified: "\ee5f";
$trvt-icon-video_settings: "\ee60";
$trvt-icon-view_sidebar: "\ee61";
$trvt-icon-wash: "\ee62";
$trvt-icon-water_damage: "\ee63";
$trvt-icon-west: "\ee64";
$trvt-icon-wheelchair_pickup: "\ee65";
$trvt-icon-wifi_calling: "\ee66";
$trvt-icon-wifi_protected_setup: "\ee67";
$trvt-icon-wine_bar: "\ee68";
$trvt-icon-wrong_location: "\ee69";
$trvt-icon-wysiwyg: "\ee6a";
$trvt-icon-leaderboard: "\ee6b";
$trvt-icon-6_ft_apart: "\ee6c";
$trvt-icon-book_online: "\ee6d";
$trvt-icon-clean_hands: "\ee6e";
$trvt-icon-connect_without_contact: "\ee6f";
$trvt-icon-coronavirus: "\ee70";
$trvt-icon-elderly: "\ee71";
$trvt-icon-follow_the_signs: "\ee72";
$trvt-icon-leave_bags_at_home: "\ee73";
$trvt-icon-masks: "\ee74";
$trvt-icon-reduce_capacity: "\ee75";
$trvt-icon-sanitizer: "\ee76";
$trvt-icon-send_to_mobile: "\ee77";
$trvt-icon-sick: "\ee78";
$trvt-icon-add_task: "\ee79";
$trvt-icon-contact_page: "\ee7a";
$trvt-icon-disabled_by_default: "\ee7b";
$trvt-icon-facebook: "\ee7c";
$trvt-icon-groups: "\ee7d";
$trvt-icon-luggage: "\ee7e";
$trvt-icon-no_backpack: "\ee7f";
$trvt-icon-no_luggage: "\ee80";
$trvt-icon-outbond: "\ee81";
$trvt-icon-published_with_changes: "\ee82";
$trvt-icon-request_page: "\ee83";
$trvt-icon-stacked_line_chart: "\ee84";
$trvt-icon-unpublished: "\ee85";
$trvt-icon-align_horizontal_center: "\ee86";
$trvt-icon-align_horizontal_left: "\ee87";
$trvt-icon-align_horizontal_right: "\ee88";
$trvt-icon-align_vertical_bottom: "\ee89";
$trvt-icon-align_vertical_center: "\ee8a";
$trvt-icon-align_vertical_top: "\ee8b";
$trvt-icon-horizontal_distribute: "\ee8c";
$trvt-icon-qr_code_2: "\ee8d";
$trvt-icon-update_disabled: "\ee8e";
$trvt-icon-vertical_distribute: "\ee8f";

