@layer components.props {
	:host {
		--detail-surface-color: var(--trvt-color-background-canvas, canvas);
		--detail-surface-color-active: var(
			--toggle-detail-active-canvas,
			var(--trvt-color-background-canvas)
		);
		--detail-text-color: var(--trvt-color-typography-text, canvasText);
		--detail-display: var(--toggle-display, block);
		--detail-block-start: var(
			--trvt-typography-whitespace-default-block-start,
			1rem
		);
		--detail-block-end: var(
			--trvt-typography-whitespace-default-block-end,
			1rem
		);
		--detail-block-space: var(--trvt-spacing-content-block-m, 1rem);
		--detail-inline-space: var(--trvt-spacing-content-inline-m, 1rem);
		--detail-font-family: var(--trvt-typography-family-base, sans-serif);
		--detail-font-weight: var(--font-weight-normal, normal);
		--detail-line-height: var(--default-line-height, normal);
	}
}

@layer components.selectors {
	:host {
		margin-block-start: var(--detail-block-start);
		margin-block-end: var(--detail-block-end);
	}
	:host,
	details {
		display: var(--detail-display);
	}

	.content {
		display: block;
		grid-row: 2;
		grid-column: 1 / span var(--numOfToggles, -1);
		padding-block: var(--detail-block-space);
		padding-inline: var(--summary-inline-space);

		line-height: var(--ds-line-height);

		background: var(--detail-surface-color);
		border: var(--toggle-border-width, 2px) solid var(--toggle-border-color);
		color: var(--detail-text-color);
	}
}
@layer components.modifiers {
	[open] {
		--detail-surface-color: var(--detail-surface-color-active);
		--summary-surface-color: var(--summary-surface-color-active);
	}
}
