@layer components.props {
	:host {
		--detail-surface-color: var(--trvt-color-background-content, white);
		--detail-surface-color-active: var(
			--toggle-detail-active-canvas,
			var(--trvt-color-background-content)
		);
		--detail-text-color: var(--trvt-color-base-text, black);
		--detail-display: var(--toggle-display, block);
		--detail-block-start: var(
			--trvt-typography-whitespace-default-block-start,
			1rem
		);
		--detail-block-end: var(
			--trvt-typography-whitespace-default-block-end,
			1rem
		);
		--detail-block-space: var(--trvt-spacing-content-block-m, 1rem);
		--detail-inline-space: var(--trvt-spacing-content-inline-m, 1rem);
		--detail-font-family: var(--trvt-typography-family-base, sans-serif);
		--detail-font-weight: var(--font-weight-normal, normal);
		--detail-line-height: var(--default-line-height, normal);

		--summary-surface-color: var(--trvt-color-background-header, black);
		--summary-surface-color-active: var(
			--toggle-summary-active-canvas,
			var(--trvt-color-background-header)
		);
		--summary-text-color: var(--trvt-color-base-header, white);

		--summary-text-color-active: var(
			--toggle-summary-active-text,
			var(--trvt-color-base-header, white)
		);
		--summary-icon-surface-color: var(--trvt-color-background-icon, white);
		--summary-icon-text-color: var(--trvt-color-base-icon, black);
		--summary-icon-font-family: var(--trvt-typography-family-gui);
		--summary-icon-font-weight: var(--font-weight-heavy, 900);
		--summary-icon-open-char: var(--icon-minus-char, '-');
		--summary-icon-closed-char: var(--icon-plus-char, '+');
		--summary-block-space: var(--trvt-spacing-content-block-xs, 1rem);
		--summary-inline-space: var(--trvt-spacing-content-inline-m, 1rem);
		--summary-font-family: var(
			--trvt-typography-family-display,
			sans-serif
		);
		--summary-font-weight: var(--font-weight-bold, 600);
	}
}

@layer components.selectors {
	:host {
		margin-block-start: var(--detail-block-start);
		margin-block-end: var(--detail-block-end);
	}
	:host,
	details {
		display: var(--detail-display);
	}
	summary::-webkit-details-marker {
		display: none;
	}
	.content {
		display: block;
		grid-row: 2;
		grid-column: 1 / span var(--numOfToggles, -1);
		padding-block: var(--detail-block-space);
		padding-inline: var(--detail-inline-space);

		line-height: var(--ds-line-height);

		background: var(--detail-surface-color);
		border: var(--toggle-border-width, 2px) solid var(--toggle-border-color);
		color: var(--detail-text-color);
	}

	summary {
		display: flex;
		grid-row: 1;
		gap: var(--summary-block-space) var(--summary-inline-space);
		align-items: center;
		/* margin-inline: 0.5ch; */
		padding-block: var(--summary-block-space);
		padding-inline: var(--summary-inline-space);
		background-color: var(--summary-surface-color);
		color: var(--summary-text-color);
		border: var(--toggle-border-width, 2px) solid var(--toggle-border-color);
		border-bottom: 0;
		font-family: var(--summary-font-family);
		font-weight: var(--summary-font-weight);
		cursor: pointer;
		margin-bottom: -2px;
		margin-inline: 2px;
		z-index: 1;
		border-start-start-radius: var(--tab-radius);
		border-start-end-radius: var(--tab-radius);
	}
	:host(:first-child) summary {
		margin-inline-start: 0;
	}
	:host(:last-child) summary {
		margin-inline-end: 0;
	}
	details[open] summary {
		color: var(--summary-text-color-active);
	}

	summary::after {
		display: flex;
		content: var(--is-accordion, var(--summary-icon-closed-char));
		width: 1em;
		height: 1em;
		justify-content: center;
		line-height: 0.9;
		font-family: var(--summary-icon-font-family);
		background: var(--summary-icon-surface-color);
		color: var(--summary-icon-text-color);
		margin-inline-start: auto;
		font-weight: var(--summary-icon-font-weight);
	}
	details[open] summary::after {
		content: var(--is-accordion, var(--summary-icon-open-char));
	}
	::slotted(*) {
		font-family: var(---detail-font-family) !important;
	}
}
@layer components.modifiers {
	[open] {
		--detail-surface-color: var(--detail-surface-color-active);
		--summary-surface-color: var(--summary-surface-color-active);
	}

	summary:is(:focus, :focus-visible) {
		outline-offset: 2px;
		outline: 4px solid dodgerblue;
	}
}
