:host(trvt-section) {
	--display: grid;
	--template-columns: repeat(auto-fit, minmax( clamp(33.3333% - var(--gap), (60rem - 100%) * 999, 100%), 1fr) );
	--template-rows: auto;
	--background-color: var(--light);
	--align: start;
	--justify: start;
}

::slotted(header) {
// Todo: add header style
}

::slotted([slot=content]){
	display: var(--display, block);
	grid-template-columns: var(--template-columns, 1fr);
	grid-template-rows: var(--template-rows, 1fr);
	grid-gap: var(--gap, 1rem);
	align-content: var(--align, normal);
	justify-content: var(--justify, normal);
	padding: 0 var(--unit, 1rem);
	background: var(--background-color, transparent);
}

::slotted(footer) {
// Todo: add footer style
}
