::slotted(header) {
	// Todo: add header style
}

::slotted([slot=content]){
	display: var(--display, block);
	grid-template-columns: var(--template-columns, 1fr);
	grid-template-rows: var(--template-rows, 1fr);
	grid-gap: var(--gap, 1rem);
	align-content: var(--align, normal);
	justify-content: var(--justify, normal);
	background: var(--background-color, transparent);
}

::slotted(footer) {
	// Todo: add footer style
}

@media (min-width: 900px) {
	:host(trvt-section) {
		--display: grid;
		--template-columns: 1fr 1fr;
		--template-rows: 1fr;
		--background-color: white;
		--align: start;
		--justify: start;
	}
}


