<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>trivet - index</title>
		<meta charset="utf-8">
		<!--  Meta  -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">

		<!-- Trivet stylesheet -->
		<link rel="stylesheet" href="${path}${styles}" media="screen"/>

		<!-- <script src="/system.js"></script> -->

		<!-- Polyfill Import maps -->
		<script defer src="${path}${importmapShim}"></script>
		<script type="importmap-shim" src="${path}${importmap}"></script>

		<!-- Polyfill adoptedStyleSheets -->
		<script defer src="${path}${adoptedStyleSheets}"></script>

		<script defer type="module-shim" src="${path}${trivet}"></script>

	</head>

	<body>
		<trvt-page data-cloak="true">
			<nav slot="navigation">${nav}</nav>
			<header slot="header">
				<trvt-heading text="${title}" block="heading" modifier="page"></trvt-heading>
			</header>
			<main slot="content">${main}</main>
			<footer slot="footer" >${footer}</footer>
		</trvt-page>

	</body>

</html>
