@layer components {
	svg {
		fill: var(--trvt-theme-color-logo);
		transform: rotate(0.25turn);
		display: inline-block;
		width: 1.1rem;
		vertical-align: text-bottom;
	}
	.reverse {
		display: inline-block;
		transform: scale(-1, 1);
		margin-left: -0.1rem;
		margin-right: 0.05rem;
	}
	a {
		padding: 1rem;
		font-family: var(--trvt-fonts-gui-family);
		color: var(--trvt-colors-base-light);
		font-variation-settings: 'wght' 400;
		text-decoration: none;
		font-size: 1.2rem;
		/* text-transform: capitalize; */
		letter-spacing: 0.05rem;
		display: inline-block;
	}
}
