@font-face {
	font-family: 'Figtree';
	src: url('Figtree-VariableFont_wght.woff2') format('woff2-variations');
	font-style: normal;
}
@font-face {
	font-family: 'Figtree';
	src: url('Figtree-Italic-VariableFont_wght.woff2')
		format('woff2-variations');
	font-style: italic;
}

@layer theme {
	trvt-layout:not(:defined),
	trvt-layout:has(:not(:defined)) {
		visibility: hidden;
	}
	trvt-header::part(heading) {
		display: inline-block;
		font-size: 8rem;
		font-weight: 800;
		line-height: 1.5;
		background: url('scratched.svg') no-repeat 50% 50%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 12em;
		background-size: 200%;
		width: 5ch;
		/* font-family: 'Arial Black'; */
	}
	trvt-layout {
		max-width: 1400px;
		margin-inline: auto;
	}
	html {
		--trvt-typography-family-base: Figtree, sans-serif !important;
		--trvt-typography-family-display: Figtree, sans-serif !important;

		/* 125% => 20px. 150% => 24px */
		font-size: 125% !important;
	}
	body {
		letter-spacing: 0.02ch !important;
		padding-inline: 2ch !important;
	}
}
