@import url('font-faces.css') layer(theme);

@layer theme {
	trvt-layout:not(:defined),
	trvt-layout:has(:not(:defined)) {
		visibility: hidden;
	}
	trvt-header::part(heading) {
		display: inline-block;
		font-size: 8rem;
		font-weight: 800;
		line-height: 1.5;
		background: url('scratched.svg') no-repeat 50% 50%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 12em;
		background-size: 200%;
		width: 5ch;
		/* font-family: 'Arial Black'; */
	}
	trvt-layout {
		max-width: 1400px;
		margin-inline: auto;
	}
	html {
		--trvt-typography-family-base: Figtree, sans-serif !important;
		--trvt-typography-family-display: Figtree, sans-serif !important;

		--trvt-typography-weight-thin: 100 !important;
		--trvt-typography-weight-ultralight: 150 !important;
		--trvt-typography-weight-light: 200 !important;
		--trvt-typography-weight-medium: 300 !important;
		--trvt-typography-weight-semibold: 400 !important;
		--trvt-typography-weight-bold: 550 !important;
		--trvt-typography-weight-extrabold: 700 !important;
		--trvt-typography-weight-heavy: 800 !important;
		--trvt-typography-weight-black: 900 !important;

		/* 125% => 20px. 150% => 24px */
		font-size: 125% !important;
	}
	body {
		letter-spacing: 0.02ch !important;
		padding-inline: 2ch !important;
	}

	h1 {
		font-size: var(--trvt-typography-size-xxl) !important;
		font-weight: var(--trvt-typography-weight-bold) !important;
	}

	h2 {
		font-weight: var(--trvt-typography-weight-bold) !important;
	}

	h3 {
		font-weight: var(--trvt-typography-weight-bold) !important;
	}
}
