
:root {
	--display: grid;
	--template-columns: 1fr 1fr;
	--template-rows: 1fr;
	--background-color: white;
}


@import "styles/_normalize";


body {
	display: block;
	font-family: Arial, sans-serif;
	background: lightskyblue;
}

[slot] {
	display: contents;
}
